{% extends "layouts/intro.html" %}
{% set pageTitle = 'Giới thiệu - Đội ngũ tác giả - chi tiết - 1 sách' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/intro1.html" %}
{% endblock %}
