{% extends "layouts/practice1.html" %}
{% set pageTitle = '26. Học sinh > Luyện tập > Toán > Chương I > Bài 1 - Luyện tập 1' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/practice5.html" %}
{% endblock %}
