{% extends "layouts/practice1.html" %}
{% set pageTitle = '29.1 Học sinh > Thi thử > Toán > Đề kiểm tra 15 phút > Đề số 1 > Làm bài' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/thithu4.html" %}
{% endblock %}
