{% extends "layouts/thithu1.html" %}
{% set pageTitle = '30. Học sinh > Thi thử > Toán > Đề kiểm tra 15 phút > Đề số 1 > Làm bài' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/thithu5.html" %}
{% endblock %}
