<footer>
    <div class="container">
        <div class="flex info">
            <div class="col-left">
                <h2>Công ty cổ phần <span>One Percent</span></h2>
                <div class="hotline flex-lc">
                    <i class="icon icon-phone"></i>
                    <a href="tel:024.73098866">024.73098866</a>
                </div>
            </div>
            <div class="col-right">
                <p>Giấy phép ĐKKD số <span>0101621809</span> do sở Kế hoạch và Đầu tư TP. Hà Nội cấp. Ngày cấp <span>06.05.2021</span></p>
                <p>Trụ sở chính: <span>Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</span></p>
                <p>Người đại diện pháp luật: <span>Ông Đào Xuân Hoàng - Giám đốc điều hành</span></p>
            </div>
        </div>
        <div class="logo-white"><a href=""><img src="./assets/img/logo1.png" alt=""></a></div>
        <div class="middle flex pr">
            <div class="col col1">
                <h3>VỀ HỌC 10</h3>
                <ul class="menu">
                    <li><a href="" title="">Bộ sách <span>Cánh Diều</span></a></li>
                    <li><a href="" title="">Đội ngũ tác giả</a></li>
                    <li><a href="" title="">Tin tức</a></li>
                    <li><a href="" title="">Liên Hệ</a></li>
                    <li><a href="" title="">Chính sách sử dụng</a></li>
                    <li><a href="" title="">Điều khoản bảo mật</a></li>
                </ul>
            </div>
            <div class="col col2">
                <div class="col-group">
                    <h3>GIÁO VIÊN</h3>
                    <ul class="menu">
                        <li><a href="" title="">Sách giáo viên</a></li>
                        <li><a href="" title="">Bài giảng</a></li>
                        <li><a href="" title="">Tập huấn</a></li>
                    </ul>
                </div>
                <div class="col-group">
                    <h3>HỌC SINH</h3>
                    <ul class="menu">
                        <li><a href="" title="">Tủ sách</a></li>
                        <li><a href="" title="">Luyện tập</a></li>
                        <li><a href="" title="">Thi thử</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col3">
                <h3>HỖ TRỢ</h3>
                <ul class="menu">
                    <li><a href="" title="">Kích hoạt sách</a></li>
                    <li><a href="" title="">Hướng Dẫn Học</a></li>
                    <li><a href="" title="">Hỗ Trợ Khách Hàng</a></li>
                    <li><a href="" title="">Câu Hỏi Thường Gặp</a></li>
                    <li><a href="" title="">Cộng Đồng</a></li>
                </ul>
            </div>
            <div class="col col4">
                <div class="service">
                    <p>Hotline & Dịch Vụ Khách Hàng</p>
                    <div class="flex box-btn">
                        <a href="tel:024.73098866"><i class="icon icon-phone"></i> 024.73098866</a>
                        <a href="contact@hoc10.vn"><i class="icon icon-mail"></i> contact@hoc10.vn</a>
                    </div>
                    <span>7h00 - 22h00 các ngày trong tuần</span>
                </div>
                <div class="social">
                    <p>Kết nối với <span>Hoc10</span></p>
                    <div class="social__list flex">
                        <a href="" title="" class="facebook flex-center"><img src="./assets/img/icon-facebook.svg" alt=""></a>
                        <a href="" title="" class="youtube flex-center"><img src="./assets/img/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
                <a href="" class="fs-ftr-cthuong">Đã thông báo</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container flex">
            <div class="copyright">© 2021 - Bản quyền của công ty cổ phần <span>One Percent</span></div>
            <div class="language navbar dropdown ml-auto">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> VIE</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                    <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> ENG</a>
                </div>
            </div>
        </div>
    </div>
</footer>