<header class="sh">
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
            <div class="progress-register flex">
                <div class="step active">
                    <span>1</span>
                </div>
                <div class="step">
                    <span>2</span>
                </div>
                <div class="step">
                    <span>3</span>
                </div>
            </div>
            <div class="login">
                <div class="text">Bạn đã có tài khoản? <a href="" title="">Đăng nhập</a></div>
            </div>
        </div>
    </nav>
</header>