<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler border-0" type="button">
                <span></span>
            </button>
            <div class="navbar-collapse" id="navbar">
                <a href="javascript:;" class="close" data-miss="collapse"></a>
                <div class="language dropdown m-hidden">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> VIE</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                        <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> VIE</a>
                    </div>
                </div>
                <div class="box-search">
                    <form action="">
                        <input type="text" name="" placeholder="Tìm kiếm">
                    </form>
                    <button type="button" class="close"></button>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <a href="" title="Giới thiệu">Giới thiệu</a>
                        <ul class="sub-menu bg-sh">
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn1.svg" alt=""></i> Bộ sách Cánh Diều</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn2.svg" alt=""></i> Đội ngũ tác giả</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn3.svg" alt=""></i> Về chúng tôi</a></li>
                        </ul>
                    </li>
                    <li><a href="" title="Tủ sách">Tủ sách</a></li>
                    <li>
                        <a href="" title="Học sinh">Học sinh</a>
                        <ul class="sub-menu bg-sh">
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn4.svg" alt=""></i> Luyện tập</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn5.svg" alt=""></i> Thi thử</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" title="Giáo viên">Giáo viên</a>
                        <ul class="sub-menu bg-sh">
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn1.svg" alt=""></i> Sách giáo viên</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn6.svg" alt=""></i> Lớp học</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn7.svg" alt=""></i> Bài giảng</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-mn8.svg" alt=""></i> Tập huấn</a></li>
                        </ul>
                    </li>
                    <li><a href="" title="Kích hoạt sách" class="activated flex-center"><i class="icon icon-key"></i> Kích hoạt sách</a></li>
                    <li>
                        <a href="" title="Hỗ trợ">Hỗ trợ</a>
                        <ul class="sub-menu bg-sh">
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-question.svg" alt=""></i> Câu hỏi thường gặp</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-notice.svg" alt=""></i> Tin tức</a></li>
                            <li><a href="" title=""><i class="icon"><img src="./assets/img/icon-phone.svg" alt=""></i> Liên hệ</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="javascript:;" class="btn_search">Tìm kiếm</a>
                <div class="login m-hidden">
                    <div class="login__before flex-lc">
                        <a href="" title="" class="btn_register btn-pr flex-center">Đăng ký</a>
                        <a href="javascript:;" title="" class="btn_login flex-center" data-toggle="modal" data-target="#modal-login">Đăng nhập</a>
                    </div>
                    <div class="login__after pr">
                        <div class="avatar flex-lc">
                            <div class="avatar__img"><img src="./assets/img/avt.png" class="fit" alt=""></div>
                            <div class="avatar__name">Đức Huy</div>
                        </div>
                        <div class="dropdown bg-sh">
                            <a href="" title="" class="flex-lc"><i class="icon icon-pencil"></i> Cập nhật thông tin</a>
                            <a href="" title="" class="flex-lc"><i class="icon icon-setting"></i> Cài đặt</a>
                            <a href="" title="" class="flex-lc"><i class="icon icon-logout"></i> Đăng xuất</a>
                        </div>
                    </div>
                </div>
                <div class="bottom m-show-flex">
                    <div class="language dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""> Tiếng Việt</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> Tiếng Việt</a>
                            <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> Tiếng Việt</a>
                            <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""> Tiếng Anh</a>
                        </div>
                    </div>
                    <a href="javascript:;" title="Đăng nhập" class="btn-login flex-center" data-toggle="modal" data-target="#modal-login">Đăng nhập</a>
                </div>
            </div>
            <a href="" title="" class="btn-register flex-center m-show-flex">Đăng Ký</a>
        </div>
    </nav>
    <div class="box-fix-right">
        <a href="javascript:;" class="backtop flex-center"><i class="icon icon-arrup"></i></a>
        <a href="" title="" class="messenger flex-center"><i class="icon icon-messenger"></i></a>
        <a href="" title="" class="qs flex-center"><i class="icon icon-qs"></i></a>
    </div>
</header>
<div class="modal fade modal-video" id="modal-video">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            <iframe src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            <h5 class="title txt-3">Đăng nhập</h5>
            <div class="note">
                <span>*</span> Nếu đã sử dụng ứng dụng học tập Monkey, bạn có thể <strong>Đăng nhập</strong>
                ngay bằng số điện thoại đã đăng ký sử dụng ứng dụng
            </div>
            <form action="" method="" class="form-h10">
                <div class="form-group">
                    <label>Email <sup>*</sup></label>
                    <input type="email" name="email" placeholder="Nhập email" required>
                </div>
                <div class="form-group">
                    <label>Mật khẩu <sup>*</sup></label>
                    <input type="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>
                <div class="flex-lc">
                    <label class="checkbox flex-lc">
                        <input type="checkbox">
                        <span class="checked"></span>
                        Nhớ tài khoản
                    </label>
                    <a href="" title="" class="forgot-password">Quên mật khẩu?</a>
                </div>
                <button type="submit" class="btn-pr btn-submit flex-center">Đăng nhập</button>
                <div class="register txt-5">Bạn chưa có tài khoản? <a href="" title="">Đăng ký ngay</a></div>
                <div class="text">
                    <p>Bằng việc Đăng nhập, bạn đã đồng ý với các Điều khoản dịch vụ và các chính sách riêng tư của chóng tôi</p>
                </div>
                <div class="box-login">
                    <h4 class="flex-center"><span>Hoặc đăng nhập bằng</span></h4>
                    <div class="login-list flex-center">
                        <a href="" class="flex-center facebook txt-4"><i class="icon icon-facebook"></i>Facebook</a>
                        <a href="" class="flex-center google txt-4"><i class="icon icon-gg"></i>Google</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade modal-success" id="modal-success">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="box-success">
                <div class="img-wrapper"><img src="./assets/img/img-success.svg" alt=""></div>
                <div class="text">Đăng ký thành công</div>
                <a href="" title="Truy cập tủ sách" class="btn-pr flex-center btn-access">Truy cập tủ sách</a>
            </div>
        </div>
    </div>
</div>