<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
   //hoc10 search
        $('.search-form input').on('change keyup paste click',function () {
            if($(this).val().length > 0){
                $('.search-form .btn_reset,.search-suggest').css('display','block');
            } else{
                $('.search-form .btn_reset,.search-suggest').css('display','none');
            }
        });
        $('.btn_reset').on('click',function () {
           $('.search-suggest').css('display','none');
           $(this).css('display','none');
        });

        $('.search-suggest p').on('click',function () {
            let suggest = $(this).text();
            document.getElementById("search").value = suggest;
            $('.search-suggest').css('display','none');
        });


        //remove filter
        $('.fil--search .fil__item').on('click',function () {
            $(this).remove();
        });
        $('.btn_remove_all').on('click',function () {
            $('.fil--search .fil__item').remove();
            $(this).remove();
        });

        //show filter mobile
        $('.btn_filter_m').on('click',function () {
            $('.filter-fix-left').addClass('show');
        });
        $('.filter-fix-left .close').on('click',function () {
            $('.filter-fix-left').removeClass('show');
        });

        //call select2
        $('.select-min2').select2();

        $('.news__list .item').hover(function (){
            $('.news__list .item').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
</body>
</html>