<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.newpaper-list').slick({
            centerMode: false,
            slidesToShow: 6,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            autoplay: false,
            dots: true,
            arrows: true,
            responsive: [
                {
                    breakpoint: 830,
                    settings: {
                        slidesToShow: 5,
                        vertical: true,
                        arrows: false,
                    }
                }
            ]
        });

        $('.team-list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            autoplay: false,
            dots: true,
            arrows: true,
            responsive: [
                {
                    breakpoint: 840,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.sgk-slider').slick({
            centerMode: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            autoplay: false,
            dots: true,
            arrows: true,
            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 2,
                    }
                }
            ]
        });
    });
</script>
</body>
</html>