<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        var width = $(window).outerWidth();
        if(width > 480){
            $('.lesson-list').slick({
                centerMode: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
                centerPadding: 0,
                autoplay: false,
                dots: false,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 830,
                        settings: {
                            slidesToShow: 2,
                        }
                    }
                ]
            });
        }else{
            $('.lesson-list').slick({
                centerMode: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                rows:2,
                infinite: true,
                centerPadding: 0,
                autoplay: false,
                dots: false,
                arrows: true,
            });
        }


        //call select2
        $('.select-min2').select2();
    });
</script>
</body>
</html>