<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-hide').on('click',function (){
           $('.hoc10-slideshow .main').addClass('is-hide');
        });
        $('.btn-show').on('click',function (){
            $('.hoc10-slideshow .main').removeClass('is-hide');
        });
        $('.btn-dropdown').on('click',function () {
           $(this).parent().toggleClass('show');
        });

        //call select2
        $('.select-min2').select2();
    });
</script>
</body>
</html>