<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.answer label').on('click',function (){
           $('.answer label').removeClass('active');
           $(this).addClass('active');
        });
        $('.btn-test').on('click',function (){
           $('.box-check .check').toggleClass('active');
        });
        $('.box-check .btn-close').on('click',function (){
           $('.box-check .check').removeClass('active');
        });

        $('.box-filter button').on('click',function (){
            $(this).parent().toggleClass('show');
        });
        $('.dropdown-filter li').on('click',function (){
           let data = $(this).data('filter');
           $('.box-filter button span').html('').append(data);
        });
    });
</script>
</body>
</html>