<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-setting').on('click',function (){
            $('.act__tl').toggleClass('show');
        });
        $('.btn-menu').on('click',function (){
            $(this).toggleClass('active');
            $('.hoc10-reader .sidebar').toggleClass('show');
        });

        $('.table-content li').on('click',function (){
           $('.table-content li').removeClass('show');
           $(this).addClass('show');
        });
    });
</script>
</body>
</html>