<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.object input').on('change load', function () {
            if ($(this).is(':checked')) {
                $('.object').removeClass('active');
                $(this).parents('.object').addClass('active');
                $('.btn-next').addClass('active');
            } else {
                $(this).parents('.object').removeClass('active');
            }
        });

        $('.select-list .dropdown,.select-list .placeholder').on('click',function () {
            /*$('.box-select').removeClass('show');*/
            $(this).parents('.box-select').toggleClass('show');
        });

        $('.select-dropdown .av').on('change keyup paste click',function () {
            if($(this).val().length > 0){
                $('.box-select.show .placeholder').css('opacity','0');
                var fil = $(this).val();
                var fil_html = `<li><p>${fil} <button type="button" class="close">X</button></p></li>`;

                $(this).parents('.box-select').find('ul').append(fil_html);
            } else{
                $('.box-select.show .placeholder').css('display','block');
                $(this).parents('.box-select').find('ul').remove(fil_html);
            }
        });

        $('.select-dropdown input').on('change', function () {
            if ($(this).is(':checked')) {
                $('.box-select.show .placeholder').css('opacity','0');
                var fil = $(this).val();
                var fil_id = $(this).data('id');
                var fil_html = `<li id="${fil_id}" data-id="${fil_id}"><p>${fil} <button type="button" class="close">X</button></p></li>`;
                $(this).parents('.box-select').find('ul').css('display','flex').append(fil_html);
            } else {
                var fil_id = $(this).data('id');

                $(`#${fil_id}`).remove();
            }
        });
        setInterval(function () {
            $('.select-list .close').on('click',function () {
                var data_id = $(this).parents('li').data('id');
                $(this).parents('li').remove();
                $(`.select-dropdown #${data_id}`).prop("checked", false);
            });
            var item_class = $('.class li').length;
            var item_subject = $('.subject li').length;
            if(item_class <= 0){
                $('.box-select--class .placeholder').css('opacity','1');
            }else{
                $('.box-select--class .placeholder').css('opacity','0');
            }
            if(item_subject <= 0){
                $('.box-select--subject .placeholder').css('opacity','1');
            }else{
                $('.box-select--subject .placeholder').css('opacity','0');
            }
        },1000);

        $(document).mouseup(function (e) {
            var form_group = $('.box-select');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
        });
    });
</script>
</body>
</html>