<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.support .item .header').on('click',function (){
            $('.support .item').removeClass('active');
           $(this).parent().addClass('active');
        });

        function add_amout(add_amount) {
            var counter = $(add_amount).parent().find('input').val();
            counter++;
            $(add_amount).parent().find('input').val(counter);
            return counter;
        }

        $('.feedback .icon').click(function () {
            add_amout(this);
        });

        $('.modal-note').modal('show');
    });
</script>
</body>
</html>