<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container">
            <div class="header decor-h1 pr">
                <h1 class="title mb-10">Bài viết</h1>
                <p>Chia sẻ những thông tin giúp giáo viên, phụ huynh và học sinh có những kiến thức thật bổ ích</p>
            </div>
        </div>
    </div>
    <div class="hoc10-blog">
        <div class="container">
            <div class="blog-highlight">
                <article class="post flex">
                    <a href="" title="" class="post__thumb"><img src="./assets/img/img-news.jpg" alt=""></a>
                    <div class="post__content">
                        <h3><a href="" title="">Trăn trở việc dạy và học trực tuyến</a></h3>
                        <p>Do dịch Covid-19 diễn biến phức tạp nên sau ngày khai giảng năm học 2021-2022, tại nhiều địa phương, trẻ vẫn chưa thể đến trường. Tuy nhiên, không khí dạy và học lại đang sôi nổi trên các diễn đàn giáo dục với việc dạy học trực tuyến. Theo Bộ Giáo dục và Đào tạo, đây là phương án “thay thế dạy học trực tiếp”, giúp các cơ...</p>
                        <div class="flex-lc">
                            <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                        </div>
                        <a href="" title="Xem thêm" class="btn-viewmore btn-pr flex-center">Xem thêm</a>
                    </div>
                </article>
            </div>
            <div class="tab-slider-blog flex">
                <div class="item active"><a href="#tab1" title="Tất cả">Tất cả</a></div>
                <div class="item"><a href="#tab2" title="Phương pháp dậy học">Phương pháp dậy học</a></div>
                <div class="item"><a href="#tab3" title="Phát triển chuyên môn">Phát triển chuyên môn</a></div>
                <div class="item"><a href="#tab4" title="Ứng dụng công nghệ">Ứng dụng công nghệ</a></div>
                <div class="item"><a href="#tab5" title="Quản lý lớp học">Quản lý lớp học</a></div>
                <div class="item"><a href="#tab6" title="Kiểm tra đánh giá">Kiểm tra đánh giá</a></div>
            </div>
            <div id="tab1" class="blog-list">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog1.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog2.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog3.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="" title="Xem tất cả" class="btn-sub btn-viewmore flex-center">Xem tất cả</a>
            </div>
            <div id="tab2" class="blog-list">
                <div class="header flex-lc">
                    <h4>Phương pháp dạy học</h4>
                    <a href="" title="Xem thêm" class="btn-view">Xem thêm</a>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog1.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog2.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog3.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div id="tab3" class="blog-list">
                <div class="header flex-lc">
                    <h4>Phát triển chuyên môn</h4>
                    <a href="" title="Xem thêm" class="btn-view">Xem thêm</a>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog1.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog2.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog3.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div id="tab4" class="blog-list">
                <div class="header flex-lc">
                    <h4>Ứng dụng công nghệ</h4>
                    <a href="" title="Xem thêm" class="btn-view">Xem thêm</a>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog1.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog2.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-blog bg-sh">
                            <a href="" class="post__thumb"><img src="./assets/img/img-blog3.jpg" class="fit" alt=""></a>
                            <div class="post__content">
                                <span class="category">Phương pháp dạy học</span>
                                <h3><a href="" title="" class="line line2">Toán Tiếng Anh trẻ em - Xu hướng giáo dục hiện tại và tương lai</a></h3>
                                <p class="line line2">Điều đầu tiên mà ba mẹ nghĩ tới khi chuẩn bị đón chào em bé là gì? Chẳn hẳn là ch...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-contactus pr">
        <div class="container">
            <a href="" title="Liên hệ với chúng tôi" class="btn-contact flex-center">Liên hệ với chúng tôi</a>
            <ul class="contact-list flex">
                <li>
                    <i class="icon icon-phone"></i>
                    <a href="tel:02473098866">024.73098866</a>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-facebook"></i>
                    <a href="fb.com/hoc10.vn" title="">fb.com/hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-chat"></i>
                    <a href="" title="">hỗ trợ trực tuyến</a>
                </li>
            </ul>
        </div>
    </div>
</main>