<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tủ sách</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-search bg-gr">
        <div class="header pr">
            <h1 class="title">Tủ sách</h1>
            <p class="txt-5">Tủ sách điện tử tương tác miễn phí</p>
        </div>
        <form action="" method="" class="search-form pr">
            <div class="form-group flex pr">
                <input id="search" type="text" name="" placeholder="Nhập tên sách/ tài liệu cần tìm" required>
                <button type="submit" class="btn_submit btn-pr flex-center">Tìm Kiếm</button>
                <button type="reset" class="btn_reset"></button>
            </div>
            <div class="search-suggest bg-sh">
                <p>Cùng con vui học <span>tiếng Việt</span></p>
                <p>Cùng con học <span>tiếng Việt</span> Tiểu Học</span></p>
                <p>Mẹ cùng con học <span>tiếng Việt</span></p>
                <p>Cùng con học <span>tiếng Việt</span> tại Hoc10</p>
            </div>
            <div class="search-popular flex">
                <h5>Các tìm kiếm phổ biến:</h5>
                <a href="" title="">Tiếng Việt</a>
                <a href="" title="">Toán</a>
                <a href="" title="">Đạo đức</a>
                <a href="" title="">Mĩ thuật</a>
            </div>
        </form>
    </div>
    <div class="hoc10-search-result">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="filter">
                        <div class="filter__item">
                            <h4>Khối</h4>
                            <div class="filter__item__list filter__item__list--select">
                                <select name="" class="select-min2">
                                    <option value="Tiểu học">Tiểu học</option>
                                    <option value="Trung học cơ sở">Trung học cơ sở</option>
                                    <option value="Trung học phổ thông">Trung học phổ thông</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Lớp</h4>
                            <div class="filter__item__list">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="class">
                                    <span class="checked"></span>
                                    Lớp 1
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="class">
                                    <span class="checked"></span>
                                    Lớp 2
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="class">
                                    <span class="checked"></span>
                                    Lớp 3
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="class">
                                    <span class="checked"></span>
                                    Lớp 4
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="class">
                                    <span class="checked"></span>
                                    Lớp 5
                                </label>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Môn</h4>
                            <div class="filter__item__list">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Tiếng Việt
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Toán
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Đạo đức
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Tự nhiên xã hội
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Âm nhạc
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Mĩ thuật
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Giáo dục thể chất
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Tiếng Anh
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Hoạt động
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="subject">
                                    <span class="checked"></span>
                                    Trải nghiệm
                                </label>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Thể loại</h4>
                            <div class="filter__item__list">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="type">
                                    <span class="checked"></span>
                                    Sách giáo khoa
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="type">
                                    <span class="checked"></span>
                                    Vở bài tập
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="result">
                        <div class="result__header flex">
                            <div class="fil fil--search">
                                <h5 class="tf1">Tìm được 86 kết quả</h5>
                                <div class="list flex-lc">
                                    <a href="javascript:;" class="fil__item"><span>Tiểu học</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Lớp 1</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Lớp 4</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Tiếng Việt</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Tự nhiên xã hội</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Mĩ thuật</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Hoạt động</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Sách giáo khoa</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="btn_remove_all">Xoá tất cả</a>
                                </div>
                            </div>
                            <div class="fil fil--sort flex-lc">
                                <h4>Sắp xếp theo:</h4>
                                <select name="" class="select-min2">
                                    <option value="Mới nhất">Mới nhất</option>
                                </select>
                                <button type="button" class="btn_filter_m m-s flex-lc tf2">Bộ lọc (3) <i class="icon icon-filter"></i></button>
                            </div>
                        </div>
                        <div class="result__list">
                            <div class="row">
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <article class="post bg-sh pr">
                                        <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                                        <div class="post__category">Sách giáo khoa</div>
                                        <div class="post__content">
                                            <span>LỚP 1</span>
                                            <h4>Hoạt Động Trải Nghiệm 1</h4>
                                            <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-fix-left">
        <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
        <h3>Bộ lọc</h3>
        <button type="button" class="close"></button>
        <div class="filter">
            <div class="filter__item">
                <h4>Khối</h4>
                <div class="filter__item__list filter__item__list--select">
                    <select name="" class="select-min2">
                        <option value="Tiểu học">Tiểu học</option>
                        <option value="Trung học cơ sở">Trung học cơ sở</option>
                        <option value="Trung học phổ thông">Trung học phổ thông</option>
                    </select>
                </div>
            </div>
            <div class="filter__item">
                <h4>Lớp</h4>
                <div class="filter__item__list">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="class">
                        <span class="checked"></span>
                        Lớp 1
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="class">
                        <span class="checked"></span>
                        Lớp 2
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="class">
                        <span class="checked"></span>
                        Lớp 3
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="class">
                        <span class="checked"></span>
                        Lớp 4
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="class">
                        <span class="checked"></span>
                        Lớp 5
                    </label>
                </div>
            </div>
            <div class="filter__item">
                <h4>Môn</h4>
                <div class="filter__item__list">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Tiếng Việt
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Toán
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Đạo đức
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Tự nhiên xã hội
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Âm nhạc
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Mĩ thuật
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Giáo dục thể chất
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Tiếng Anh
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Hoạt động
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="subject">
                        <span class="checked"></span>
                        Trải nghiệm
                    </label>
                </div>
            </div>
            <div class="filter__item">
                <h4>Thể loại</h4>
                <div class="filter__item__list">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="type">
                        <span class="checked"></span>
                        Sách giáo khoa
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="type">
                        <span class="checked"></span>
                        Vở bài tập
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn_apply btn-pr flex-center">Áp Dụng</button>
    </div>
</main>