<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Giáo viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lớp học</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container">
            <div class="header decor-h1 pr">
                <h1 class="title">Lớp học</h1>
            </div>
        </div>
    </div>
    <div class="hoc10-overview">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-5">
                    <div class="text">
                        <h2 class="title">Tính năng lớp học cho phép giáo viên:</h2>
                        <p>Quản lý danh sách lớp học và thông tin học sinh</p>
                        <p>Giao bài tập, bài kiểm tra cho học sinh</p>
                        <p>Quản lý tiến độ học tập của học sinh</p>
                        <p>Kết nối, trao đổi với phụ huynh và học sinh</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="box-video decor-vd pr">
                        <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                            <div class="video__thumb"><img src="./assets/img/thumb-video5.jpg" alt=""></div>
                            <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-banner-register  pr">
        <div class="container pr">
            <div class="content">
                <h3>Đăng nhập ngay <br> để tạo lớp</h3>
                <a href="" title="" class="flex-center btn-login txt-1">Đăng nhập</a>
            </div>
            <div class="img-decor img-decor--cs2"><img src="./assets/img/img-decor4.svg" alt=""></div>
        </div>
    </div>
</main>