<main>
    <div class="hoc10-slider pr">
        <div class="slider-home pr">
            <div class="item flex">
                <div class="col-left">
                    <h1>Tiến bộ mỗi ngày cùng <span>Hoc10.vn</span></h1>
                    <p class="txt-1">Hoc10 đồng hành cùng ba mẹ giúp bé khôn lớn với bộ ứng dụng số 1 về  giáo dục cho trẻ từ 0 đến 10 tuổi số 1 tại Việt Nam</p>
                    <a href="" title="Khám phá ngay" class="btn-discover btn-pr flex-center">Khám phá ngay</a>
                </div>
                <div class="col-right">
                    <div class="video bg-sh pr" data-link="" data-toggle="modal" data-target="#modal-video">
                        <div class="video__bg"><img src="./assets/img/thumb-video.jpg" class="fit" alt=""></div>
                        <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="col-left">
                    <h1>Tiến bộ mỗi ngày cùng <span>Hoc10.vn</span></h1>
                    <p class="txt-1">Hoc10 đồng hành cùng ba mẹ giúp bé khôn lớn với bộ ứng dụng số 1 về  giáo dục cho trẻ từ 0 đến 10 tuổi số 1 tại Việt Nam</p>
                    <a href="" title="Khám phá ngay" class="btn-discover btn-pr flex-center">Khám phá ngay</a>
                </div>
                <div class="col-right">
                    <div class="video bg-sh pr">
                        <div class="video__bg"><img src="./assets/img/thumb-video.jpg" class="fit" alt=""></div>
                        <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="item flex">
                <div class="col-left">
                    <h1>Tiến bộ mỗi ngày cùng <span>Hoc10.vn</span></h1>
                    <p class="txt-1">Hoc10 đồng hành cùng ba mẹ giúp bé khôn lớn với bộ ứng dụng số 1 về  giáo dục cho trẻ từ 0 đến 10 tuổi số 1 tại Việt Nam</p>
                    <a href="" title="Khám phá ngay" class="btn-discover btn-pr flex-center">Khám phá ngay</a>
                </div>
                <div class="col-right">
                    <div class="video bg-sh pr">
                        <div class="video__bg"><img src="./assets/img/thumb-video.jpg" class="fit" alt=""></div>
                        <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="program">
        <div class="container">
            <div class="header">
                <h2 class="title"><span>Hoc10</span> Bám sát chương trình GDPT mới 2018</h2>
            </div>
            <div class="program__list flex">
                <div class="item">
                    <div class="item__icon"><img src="./assets/img/book1.svg" alt=""></div>
                    <div class="item__content">
                        <h4 class="txt-2">Nội dung kiểm duyệt chặt chẽ</h4>
                        <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình GDPT 2018 của bộ GD & DT</p>
                        <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon"><img src="./assets/img/book2.svg" alt=""></div>
                    <div class="item__content">
                        <h4 class="txt-2">SGK điện tử tương tác</h4>
                        <p>Tương tác trực tiếp thuận tiện với phiên bản SGK Cánh Diều điện tử</p>
                        <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon"><img src="./assets/img/book3.svg" alt=""></div>
                    <div class="item__content">
                        <h4 class="txt-2">Kho bài tập đồ sộ</h4>
                        <p>Các dạng bài tập tương tác phong phú, sinh động đi kèm lý thuyết và lời giải chi tiết</p>
                        <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-access pr">
        <div class="container pr">
            <div class="box-access bg-sh pr">
                <div class="content">
                    <h3>Truy cập ngay <span>Tủ sách diệu kỳ</span></h3>
                    <a href="" title="Truy cập" class="btn_access btn-pr flex-center">Truy cập</a>
                </div>
                <div class="img-decor"><img src="./assets/img/img-dc1.svg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="hoc10-plan">
        <div class="container">
            <div class="plan">
                <div class="header">
                    <h2 class="title">
                        <span>Kế hoạch phát hành sách</span>
                        theo chương trình GDPT mới 2018
                    </h2>
                </div>
                <ul class="timeline flex">
                    <li class="active">
                        <div class="content">
                            <time>2020 - 2021</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 1</span>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="content">
                            <time>2021 - 2022</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 2</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2022 - 2023</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 3</span>
                                <span>Lớp 7</span>
                                <span>Lớp 10</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2023 - 2024</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 4</span>
                                <span>Lớp 8</span>
                                <span>Lớp 11</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2024 - 2025</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 5</span>
                                <span>Lớp 9</span>
                                <span>Lớp 12</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="statistical flex">
                    <div class="item flex-lc">
                        <div class="icon"><img src="./assets/img/icon-edu.svg" alt=""></div>
                        <div class="content">
                            <div class="number">85.000</div>
                            <div class="text">Giáo viên</div>
                        </div>
                    </div>
                    <div class="item flex-lc">
                        <div class="icon"><img src="./assets/img/icon-school.svg" alt=""></div>
                        <div class="content">
                            <div class="number">8.000</div>
                            <div class="text">Trường học</div>
                        </div>
                    </div>
                    <div class="item flex-lc">
                        <div class="icon"><img src="./assets/img/icon-book1.svg" alt=""></div>
                        <div class="content">
                            <div class="number">100</div>
                            <div class="text">Đầu sách</div>
                        </div>
                    </div>
                    <div class="item flex-lc">
                        <div class="icon"><img src="./assets/img/icon-book2.svg" alt=""></div>
                        <div class="content">
                            <div class="number">1.500</div>
                            <div class="text">Bài tập tương tác</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-feature hoc10-feature--1">
        <div class="container">
            <div class="flex">
                <div class="feature">
                    <h2 class="title"><span class="line8">Học sinh</span> - Trải nghiệm học mới mẻ và thú vị</h2>
                    <ul class="feature__list">
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-robot.svg" alt=""></div>
                            <div class="text txt-1">Cá nhân hoá lộ trình học bằng công nghệ AI</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-route.svg" alt=""></div>
                            <div class="text txt-1">Ôn luyện kiến thức mọi lúc, mọi nơi</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-chart.svg" alt=""></div>
                            <div class="text txt-1">Báo cáo học tập cập nhật thường xuyên</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-check.svg" alt=""></div>
                            <div class="text txt-1">Kiểm tra, đánh giá năng lực chính xác</div>
                        </li>
                    </ul>
                    <a href="" title="Tìm hiểu ngay" class="btn-pr flex-center">Tìm hiểu ngay</a>
                </div>
                <div class="img-wrapper"><img src="./assets/img/img-dc2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="hoc10-feature hoc10-feature--2">
        <div class="container">
            <div class="flex">
                <div class="img-wrapper"><img src="./assets/img/img-dc3.png" alt=""></div>
                <div class="feature">
                    <h2 class="title"><span class="line8">Giáo viên</span> - Công cụ hữu ích và thuận tiện mới</h2>
                    <ul class="feature__list">
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-laptop.svg" alt=""></div>
                            <div class="text txt-1">Giảng dạy trực tuyến dễ dàng</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-manager.svg" alt=""></div>
                            <div class="text txt-1">Quản lí lớp học thuận tiện</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-media.svg" alt=""></div>
                            <div class="text txt-1">Soạn bài giảng trực tuyến nhanh chóng</div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./assets/img/icon-check.svg" alt=""></div>
                            <div class="text txt-1">Kiểm tra, đánh giá năng lực chính xác</div>
                        </li>
                    </ul>
                    <a href="" title="Tìm hiểu ngay" class="btn-pr flex-center">Tìm hiểu ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-register pr">
        <div class="container pr">
            <div class="content">
                <h3 class="txt-3">Trải nghiệm đầy đủ <br> tính năng Hoc10</h3>
                <a href="" title="Đăng ký ngay" class="btn_register flex-center">Đăng ký ngay</a>
            </div>
            <div class="img-wrapper sm bg-sh"><img src="./assets/img/img-tn1.jpg" alt=""></div>
        </div>
        <div class="img-wrapper lg bg-sh"><img src="./assets/img/img-tn2.jpg" alt=""></div>
    </div>
    <div class="hoc10-feedback">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="inline">Cảm nghĩ</span> người dùng về Hoc10</h2>
            </div>
            <div class="feedback-list">
                <div class="feedback">
                    <div class="feedback__content">
                        <div class="text">
                            Các học sinh của tôi từ khi được dùng HOC10.VN thì kết quả trở nên tốt hơn rất nhiều. Những bài giảng của tôi cũng trở nên hấp dẫn và dễ hiểu hơn với học sinh của mình.
                        </div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/avt.png" class="fit" alt=""></div>
                            <div class="author__info">
                                <h5>Nguyễn Đức Tú</h5>
                                <p>Giáo viên - Trường THPT Hà Đông</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback">
                    <div class="feedback__content">
                        <div class="text">
                            Các học sinh của tôi từ khi được dùng HOC10.VN thì kết quả trở nên tốt hơn rất nhiều. Những bài giảng của tôi cũng trở nên hấp dẫn và dễ hiểu hơn với học sinh của mình.
                        </div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/avt.png" class="fit" alt=""></div>
                            <div class="author__info">
                                <h5>Nguyễn Đức Tú</h5>
                                <p>Giáo viên - Trường THPT Hà Đông</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback">
                    <div class="feedback__content">
                        <div class="text">
                            Các học sinh của tôi từ khi được dùng HOC10.VN thì kết quả trở nên tốt hơn rất nhiều. Những bài giảng của tôi cũng trở nên hấp dẫn và dễ hiểu hơn với học sinh của mình.
                        </div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/avt.png" class="fit" alt=""></div>
                            <div class="author__info">
                                <h5>Nguyễn Đức Tú</h5>
                                <p>Giáo viên - Trường THPT Hà Đông</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback">
                    <div class="feedback__content">
                        <div class="text">
                            Các học sinh của tôi từ khi được dùng HOC10.VN thì kết quả trở nên tốt hơn rất nhiều. Những bài giảng của tôi cũng trở nên hấp dẫn và dễ hiểu hơn với học sinh của mình.
                        </div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/avt.png" class="fit" alt=""></div>
                            <div class="author__info">
                                <h5>Nguyễn Đức Tú</h5>
                                <p>Giáo viên - Trường THPT Hà Đông</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-posts">
        <div class="container">
            <div class="header flex-lc">
                <h2 class="title"><span>Bài viết</span> - Chia sẻ đến từ Hoc10</h2>
                <a href="" title="Xem tất cả" class="btn_viewmore btn-pr flex-center">Xem tất cả</a>
            </div>
            <div class="post-list row pr">
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/img-new1.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Công nghệ AI khiến trải nghiệm học tập trở nên thú hơn bao giờ hết</a></h3>
                        <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/img-new2.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Trăn trở việc hỗ trợ con cái học online của phụ huỳnh mùa dịch</a></h3>
                        <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/img-new3.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Học sinh hào hứng với trải nghiệm học tập online được cải tiến</a></h3>
                        <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                    </article>
                </div>
            </div>
            <a href="" title="Xem tất cả" class="btn_viewall flex-center btn-pr">Xem tất cả</a>
        </div>
    </div>
</main>