<main>
    <div class="hoc10-breadcrumb bg-gray">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cập nhật thông tin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cá nhân</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-information bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-3">
                    <ul class="tab nav hoc10-tab">
                        <li><a href="#user" title="Cá nhân" data-toggle="tab" class="active"><i class="icon icon-user"></i><span>Cá nhân</span></a></li>
                        <li><a href="#school" title="Trường học" data-toggle="tab"><i class="icon icon-school"></i><span>Trường học</span></a></li>
                        <li><a href="#class" title="Lớp học" data-toggle="tab"><i class="icon icon-class"></i><span>Lớp học</span></a></li>
                        <li><a href="#avt" title="Ảnh đại diện" data-toggle="tab" ><i class="icon icon-avt"></i><span>Ảnh đại diện</span></a></li>
                        <li><a href="#password" title="Đổi mật khẩu" data-toggle="tab" ><i class="icon icon-password"></i><span>Đổi mật khẩu</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-9 col-9">
                    <div class="tab-content hoc10-tab-content">
                        <div id="user" class="tab-pane fade show active">
                            <h2 class="title">Cá nhân</h2>
                            <form action="" method="" class="form-h10">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Họ và tên <sup>*</sup></label>
                                        <input type="text" name="fullname" placeholder="Nhập họ và tên" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày tháng năm sinh <sup>*</sup></label>
                                        <input type="date" name="fullname" placeholder="Nhập ngày tháng năm sinh *" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Giới tính <sup>*</sup></label>
                                        <select name="">
                                            <option>Chọn giới tính</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Vị trí <sup>*</sup></label>
                                        <select name="">
                                            <option>Chọn vị trí</option>
                                            <option value="Giám đốc">Giám đốc</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Email <sup>*</sup></label>
                                        <input type="email" name="email" placeholder="Nhập email" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Số điện thoại <sup>*</sup></label>
                                        <input type="number" name="email" placeholder="Nhập số điện thoại" required>
                                    </div>
                                </div>
                                <div class="box-btn box-btn-fw flex mt-14">
                                    <button type="reset" class="btn-reset flex-center txt-4">Hủy</button>
                                    <button type="submit" class="btn-submit flex-center btn-pr">Gửi</button>
                                </div>
                            </form>
                        </div>
                        <div id="school" class="tab-pane fade">

                        </div>
                        <div id="class" class="tab-pane fade">

                        </div>
                        <div id="avt" class="tab-pane fade">
                            <h2 class="title">Ảnh đại diện</h2>
                            <div class="box-upload pr">
                                <div id="image-holder" class="image-holder flex"><img src="./assets/img/avt2.png" class="fit" alt=""></div>
                                <div class="upload pr">
                                    <input id="upload_avt" type="file" required="">
                                    <button type="button">Chọn ảnh mới</button>
                                </div>
                                <div class="note">
                                    <p>Định dạng: .*png, .*jpeg, .*jpg</p>
                                    <p>Dung lượng tối đa: 5 MB</p>
                                </div>
                                <div class="box-btn flex">
                                    <button type="button" class="btn-update btn-pr flex-center">Cập nhật</button>
                                    <button type="button" class="btn-cancel btn-sub flex-center">Hủy</button>
                                </div>
                            </div>
                        </div>
                        <div id="password" class="tab-pane fade">
                            <h2 class="title">Đổi mật khẩu</h2>
                            <form action="" method="" class="form-h10">
                                <div class="form-group">
                                    <label>Mật khẩu hiện tại <sup>*</sup></label>
                                    <input type="password" name="" placeholder="Nhập mật khẩu">
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu mới <sup>*</sup></label>
                                    <input type="password" name="" placeholder="Nhập mật khẩu mới">
                                </div>
                                <div class="form-group">
                                    <label>Xác nhận mật khẩu mới <sup>*</sup></label>
                                    <input type="password" name="" placeholder="Xác nhận mật khẩu mới">
                                </div>
                                <div class="box-btn">
                                    <button type="submit" class="btn-submit w-100 flex-center btn-pr">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>