<main>
    <div class="hoc10-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bộ sách giáo khoa Cánh Diều</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-intro-sgk pr">
        <div class="container pr">
            <div class="header">
                <h2 class="title">Bộ sách giáo khoa <span>Cánh Diều</span></h2>
            </div>
            <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                <div class="video__thumb"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
            </div>
            <div class="intro-list row pr">
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book5.svg" alt=""></div>
                        <h4>Bộ sách thứ nhất (đầu tiên)</h4>
                        <p>Bộ sách thứ nhất (đầu tiên) góp phần thực hiện chủ trương xã hội hoá sách giáo khoa, xoá bỏ cơ chế độc quyền trong lĩnh vực xuất bản - in - phát hành sách giáo khoa.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book6.svg" alt=""></div>
                        <h4>Tác giả bộ sách Cánh Diều</h4>
                        <p>Tác giả bộ sách Cánh Diều là những nhà giáo, nhà khoa học tâm huyết và giàu kinh nghiệm, trong đó có tác giả là Tổng Chủ biên Chương trình Giáo dục phổ thông 2018 và nhiều tác giả là thành viên Ban Phát triển Chương trình tổng thể, Ban Phát triển các chương trình môn học thành lập theo Quyết định của Bộ trưởng Bộ GDĐT.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book8.svg" alt=""></div>
                        <h4>Phiên bản điện tử</h4>
                        <p>Bên cạnh sách giấy, bộ sách Cánh Diều còn có phiên bản điện tử và nhiều học liệu điện tử sinh động đi kèm để hỗ trợ quá trình giảng dạy - học tập của Giáo viên và Học sinh.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-feature-sgk pr bg-gradient">
        <div class="container">
            <div class="header">
                <h2 class="title">Đặc trưng <span class="inline">SGK điện tử</span> Cánh Diều</h2>
            </div>
            <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                <div class="video__thumb"><img src="./assets/img/thumb-video2.jpg" alt=""></div>
                <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="featured">
                        <div class="img-wrapper"><img src="./assets/img/icon-sgt1.svg" alt=""></div>
                        <h4>Học liệu điện tử</h4>
                        <p>Các học liệu điện tử được tích hợp trong phiên bản điện tử SGK Cánh Diều làm phong phú quá trình dạy và học.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured">
                        <div class="img-wrapper"><img src="./assets/img/icon-sgt2.svg" alt=""></div>
                        <h4>Mục lục điện tử</h4>
                        <p>Mục lục điện tử giúp người dùng truy cập dễ dàng và nhanh chóng theo chương, bài học cụ thể.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured">
                        <div class="img-wrapper"><img src="./assets/img/icon-sgt3.svg" alt=""></div>
                        <h4>Thanh công cụ</h4>
                        <p>Thanh công cụ cung cấp những tính năng tiện ích và quan trọng; là công cụ thiết thực và đem lại hiệu quả cao trong quá trình dạy học.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured">
                        <div class="img-wrapper"><img src="./assets/img/icon-sgt4.svg" alt=""></div>
                        <h4>Bài tập tương tác</h4>
                        <p>Kho bài tập tương tác đa dạng và phong phú với nhiều hình thức và thể loại khác nhau; luôn được cập nhật hàng tuần.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-type-sgk bg-gr">
        <div class="container pr">
            <div class="header">
                <h2 class="title">Thể loại sách điện tử</h2>
            </div>
            <div class="sgk flex pr">
                <div class="sgk__img"><img src="./assets/img/img-book2.png" alt=""></div>
                <div class="sgk__type pr">
                    <span>Sách giáo khoa</span>
                    <span>Sách bổ <br> trợ</span>
                    <span>Sách giáo viên</span>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-team hoc10-team--ex">
        <div class="container">
            <div class="header">
                <h2 class="title">Đội ngũ <span class="inline">chuyên gia</span></h2>
                <p>Hoc10 được xây dựng, cố vấn chuyên môn bởi các chuyên gia Giáo dục đầu ngành</p>
            </div>
            <div class="team-list">
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn-sub btn-more flex-center">Xem thêm</button>
        </div>
    </div>
    <div class="hoc10-plan hoc10-plan--cs1 bg-gr">
        <div class="container">
            <div class="plan">
                <div class="header">
                    <h2 class="title">
                        Kế hoạch phát hành sách
                        theo chương trình GDPT mới 2018
                    </h2>
                </div>
                <ul class="timeline flex">
                    <li class="active">
                        <div class="content">
                            <time>2020 - 2021</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 1</span>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="content">
                            <time>2021 - 2022</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 2</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2022 - 2023</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 3</span>
                                <span>Lớp 7</span>
                                <span>Lớp 10</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2023 - 2024</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 4</span>
                                <span>Lớp 8</span>
                                <span>Lớp 11</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2024 - 2025</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 5</span>
                                <span>Lớp 9</span>
                                <span>Lớp 12</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hoc10-program pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Chương trình môn học</h2>
                <form action="" method="" class="hoc10-form">
                    <div class="form-group flex-center">
                        <input type="text" name="" placeholder="Tìm kiếm">
                        <button type="submit" class="btn-submit flex-center btn-pr">Tìm Kiếm</button>
                    </div>
                </form>
            </div>
            <div class="subjects-list flex">
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh1.svg" alt=""></div>
                    <div class="subject__name">Môn Tiếng Việt</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh2.svg" alt=""></div>
                    <div class="subject__name">Môn Công Nghệ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh3.svg" alt=""></div>
                    <div class="subject__name">Môn Toán</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh4.svg" alt=""></div>
                    <div class="subject__name">Môn Ngoại Ngữ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh5.svg" alt=""></div>
                    <div class="subject__name">Môn Sinh Học</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh6.svg" alt=""></div>
                    <div class="subject__name">Môn Địa Lý</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh7.svg" alt=""></div>
                    <div class="subject__name">Môn Sức khoẻ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh8.svg" alt=""></div>
                    <div class="subject__name">Môn Vật Lý</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh9.svg" alt=""></div>
                    <div class="subject__name">Môn Mỹ Thuật</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh10.svg" alt=""></div>
                    <div class="subject__name">Môn Âm Nhạc</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh2.svg" alt=""></div>
                    <div class="subject__name">Môn Thủ Công</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh11.svg" alt=""></div>
                    <div class="subject__name">Môn Hoá Học</div>
                    <a href="" class="subject__pdf"></a>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
            </ul>
        </div>
    </div>
</main>