<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Về One Percent</li>
            </ul>
        </div>
    </div>
    <div class="onepercent-intro bg-gr">
        <div class="container">
            <div class="text decor-h3 pr">
                <h1 class="title">Về <span class="inline">One Percent</span></h1>
                <p>One Percent là doanh nghiệp đi đầu về lĩnh vực công nghệ trong giáo dục. One Percent mong muốn xây dựng nền tảng giáo dục bằng cách tạo nên một môi truờng dạy và học trực tuyến chất lượng cao, đầy nhiệt huyết, hứng thú và sáng tạo.</p>
            </div>
        </div>
    </div>
    <div class="onepercent-value">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6">
                    <div class="text">
                        <h3>Giá trị cốt lõi</h3>
                        <p>Hiểu rõ quy tắc 1% và sức mạnh của sự tích lũy, One Percent nhấn mạnh vào việc xây dựng thói quen và sự nỗ lực cho học sinh: sự khác biệt được tạo ra khi mỗi ngày ta cố gắng tốt hơn ngày hôm qua 1%</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-wrapper bg-sh pr"><img src="./assets/img/img-bt.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="onepercent-develop bg-gr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="line8 inline">Đội ngũ One Percent</span> đã phát triển</h2>
            </div>
            <div class="project monkey flex-lc">
                <div class="project__logo project__logo--monkey flex-center">
                    <a href=""><img src="./assets/img/monkey-junior.svg" alt=""></a>
                    <a href=""><img src="./assets/img/monkey-stories.svg" alt=""></a>
                    <a href=""><img src="./assets/img/monkey-math.svg" alt=""></a>
                    <a href=""><img src="./assets/img/vmonkey.svg" alt=""></a>
                </div>
                <div class="project__content project__content--monkey">
                    <h4>Monkey Apps</h4>
                    <p>Bộ ứng dụng Monkey bao gồm Monkey Junior, Monkey Stories, Monkey Math và VMonkey là các ứng dụng học tập cho bé từ 0-10 tuổi. Mỗi ứng dụng tập trung phát triển cho bé các kĩ năng về Tiếng Anh, Tiếng Việt hoặc Toán học.</p>
                    <p>Sau 6 năm thành lập, bộ ứng dụng của Monkey trở thành bạn đồng hành của hơn 10 triệu em nhỏ và ba mẹ trên khắp thế giới, nhiều nhất là tại Mỹ, Canada, Việt Nam, Australia, Anh, Nhật Bản, Thái Lan...</p>
                </div>
            </div>
            <div class="project hoc10 flex-lc">
                <div class="project__logo project__logo--hoc10 flex-center">
                    <a href=""><img src="./assets/img/logo2.svg" alt=""></a>
                </div>
                <div class="project__content">
                    <h4>Hoc10</h4>
                    <p>Hoc10 mang  sứ mệnh xây dựng một hệ sinh thái giáo dục, kết nối nhà trường với học sinh và phụ huynh, nhằm tạo nên môi trường giảng dạy và học tập toàn diện, hiệu quả.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-vepic">
        <div class="container">
            <div class="header">
                <h2 class="title">
                    <span class="inline">One Percent</span> - đơn vị hợp tác <br>
                    độc quyền của <span class="inline line8">VEPIC</span>
                </h2>
                <p class="txt-2">Sản phẩm của VEPIC: Bộ sách Cánh Diều</p>
            </div>
            <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video">
                <div class="video__thumb"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
            </div>
            <div class="intro-list row">
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book5.svg" alt=""></div>
                        <h4>Bộ sách thứ nhất (đầu tiên)</h4>
                        <p>Bộ sách thứ nhất (đầu tiên) góp phần thực hiện chủ trương xã hội hoá sách giáo khoa, xoá bỏ cơ chế độc quyền trong lĩnh vực xuất bản - in - phát hành sách giáo khoa.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book6.svg" alt=""></div>
                        <h4>Tác giả bộ sách Cánh Diều</h4>
                        <p>Tác giả bộ sách Cánh Diều là những nhà giáo, nhà khoa học tâm huyết và giàu kinh nghiệm, trong đó có tác giả là Tổng Chủ biên Chương trình Giáo dục phổ thông 2018 và nhiều tác giả là thành viên Ban Phát triển Chương trình tổng thể, Ban Phát triển các chương trình môn học thành lập theo Quyết định của Bộ trưởng Bộ GDĐT.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book8.svg" alt=""></div>
                        <h4>Phiên bản điện tử</h4>
                        <p>Bên cạnh sách giấy, bộ sách Cánh Diều còn có phiên bản điện tử và nhiều học liệu điện tử sinh động đi kèm để hỗ trợ quá trình giảng dạy - học tập của Giáo viên và Học sinh.</p>
                    </div>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn-sub btn-viewmore flex-center">Xem thêm</a>
        </div>
    </div>
    <div class="hoc10-team hoc10-team--ex bg-gr">
        <div class="container">
            <div class="header">
                <h2 class="title">Đội ngũ <span>chuyên gia</span></h2>
                <p>Hoc10 được xây dựng, cố vấn chuyên môn bởi các chuyên gia Giáo dục đầu ngành</p>
            </div>
            <div class="team-list">
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn-sub btn-more flex-center">Xem thêm</a>
        </div>
    </div>
    <div class="onepercent-office">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6">
                    <div class="text">
                        <h2 class="title">Văn phòng của <span class="inline">One Percent</span></h2>
                        <div class="address">
                            <h4>Địa chỉ:</h4>
                            <p>Tầng 2, Toà nhà HH-N01, Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung - Q. Thanh Xuân - TP. Hà Nội, Việt Nam</p>
                        </div>
                        <div class="phone">
                            Điện thoại:
                            <a href="tel:024.73098866">024.73098866</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-wrapper bg-sh pr">
                        <img src="./assets/img/img-office.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>