<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item"><a href="#">Đội ngũ tác giả</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tác giả</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-intro hoc10-intro--author bg-gradient">
        <div class="container">
            <div class="box-author">
                <h1>GS. Nguyễn Minh Thuyết</h1>
                <div class="intro pr">
                    <div class="intro__img pr"><img src="./assets/img/nmt.png" alt=""></div>
                    <div class="intro__content bg-sh">
                        <h4 class="txt-2">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</h4>
                        <ul class="info">
                            <li><p><span>Họ và tên:</span> Nguyễn Minh Thuyết</p></li>
                            <li><p><span>Năm sinh:</span> 1948</p></li>
                            <li><p><span>Nơi sinh:</span> Thái Nguyên</p></li>
                            <li><p><span>Học vị:</span> Tiến sĩ</p></li>
                            <li><p><span>Chức danh:</span> Giáo sư, Giảng viên cao cấp</p></li>
                            <li><p><span>Đơn vị công tác:</span> Ủy ban Văn hóa - Giáo dục - Thanh niên - Thiếu niên và Nhi đồng của Quốc hội</p></li>
                            <li><p><span>Thời gian công tác</span> tại Trường Đại học Khoa học Xã hội và Nhân văn thuộc Đại học quốc gia Hà Nội từ 1990 đến 2003</p></li>
                        </ul>
                    </div>
                    <div class="intro__book bg-sh"><img src="./assets/img/img-book.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-newpaper">
        <div class="container pr">
            <div class="header">
                <h2 class="title line8 pr"><span class="inline">Các bài báo khoa học</span> của GS. Nguyễn Minh Thuyết</h2>
            </div>
            <div class="newpaper-list pr">
                <div class="item">
                    <div class="year flex-center">1988</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Mấy gợi ý về việc phân tích lỗi và sửa lỗi ngữ pháp cho học sinh.</a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 3.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1984</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Những nhân tố song ngữ ảnh hưởng đến năng lực sử dụng tiếng VIệt của học sinh dân tộc ít người. </a>
                        </div>
                        <p>Tạp chí Nghiên cứu Giáo dục, số 8.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1983</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Về một kiểu câu có chủ ngữ đứng sau vị ngữ. Ngôn ngữ, số 3</a>
                            <a href="" title="">Mấy ý kiến về chủ ngữ trong tiếng Việt. Bắc Thái: Đại học Sư Phạm Việt Bắc.</a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 3.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1981</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Câu không chủ ngữ với tân ngữ đứng đầu. </a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 1.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1974</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Mấy gợi ý về việc phân tích lỗi và sửa lỗi ngữ pháp cho học sinh.</a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 3.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1971</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Góp thêm ý kiến về việc cải tiến chữ Tày - Nùng (viết chung).</a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 2.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="year flex-center">1971</div>
                    <div class="content">
                        <div class="link">
                            <a href="" title="">Góp thêm ý kiến về việc cải tiến chữ Tày - Nùng (viết chung).</a>
                        </div>
                        <p>Tạp chí Ngôn ngữ, số 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-posts bg">
        <div class="container">
            <div class="header">
                <h2 class="title">Tin liên quan</h2>
            </div>
            <div class="post-list row pr">
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb-new4.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Công nghệ AI khiến trải nghiệm học tập trở nên thú hơn bao giờ hết</a></h3>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb-new5.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Trăn trở việc hỗ trợ con cái học online của phụ huỳnh mùa dịch</a></h3>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty1">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb-new6.jpg" class="fit" alt=""></a>
                        <div class="flex-lc">
                            <div class="category">HỌC TẬP</div>
                            <div class="space"></div>
                            <time>12 tháng 10, 2021</time>
                        </div>
                        <h3><a href="" title="" class="txt-2">Học sinh hào hứng với trải nghiệm học tập online được cải tiến</a></h3>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-bookaccess pr">
        <div class="container pr">
            <div class="content">
                <h3>Truy cập ngay <span>Tủ sách diệu kỳ</span></h3>
                <a href="" title="" class="flex-center btn-access txt-1">Truy cập vào tủ sách</a>
            </div>
            <div class="img-decor img-decor--cs3"><img src="./assets/img/img-decor2.svg" alt=""></div>
        </div>
    </div>
    <div class="hoc10-team hoc10-team--author">
        <div class="container">
            <div class="header">
                <h2 class="title">Các tác giả khác môn Ngữ Văn</h2>
            </div>
            <div class="team-list">
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>