<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-intro hoc10-intro--1 bg-gr">
        <div class="container">
            <div class="text-intro decor-h2 pr">
                <h1 class="title">Giới thiệu chung</h1>
                <p>Hoc10 mang sứ mệnh xây dựng một hệ sinh thái giáo dục, kết nối nhà trường với học sinh và phụ huynh, nhằm tạo nên môi trường giảng dạy và học tập hoàn thiện, hiệu quả.</p>
            </div>
        </div>
    </div>
    <div class="hoc10-intro-feature pr">
        <div class="container">
            <ul class="feature-list">
                <li>
                    <div class="img-wrapper"><img src="./assets/img/img-book1.svg" alt=""></div>
                    <div class="text">Sách điện tử tương tác hấp dẫn</div>
                </li>
                <li>
                    <div class="img-wrapper"><img src="./assets/img/img-book2.svg" alt=""></div>
                    <div class="text">Kho bài giảng điện tử hữu ích</div>
                </li>
                <li>
                    <div class="status">Sắp ra mắt</div>
                    <div class="img-wrapper"><img src="./assets/img/img-book3.svg" alt=""></div>
                    <div class="text">Thư viện bài tập phong phú</div>
                </li>
                <li>
                    <div class="status">Sắp ra mắt</div>
                    <div class="img-wrapper"><img src="./assets/img/img-book4.svg" alt=""></div>
                    <div class="text">Lớp học trực truyến tiện lợi</div>
                </li>
            </ul>
            <div class="logo-h10 flex-center"><img src="./assets/img/logo2.svg" alt=""></div>
        </div>
    </div>
    <div class="hoc10-object pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span>Đối tượng</span> sử dụng</h2>
            </div>
            <div class="object pr">
                <div class="object__item pr">
                    <span class="ob">Giáo viên</span>
                    <ul>
                        <li><span>Giảng dạy trực tuyến</span></li>
                        <li><span>Quản lý học sinh</span></li>
                        <li><span>Tải xuống bài giảng điện tử</span></li>
                    </ul>
                </div>
                <div class="object__item pr">
                    <span class="ob">Phụ huynh</span>
                    <ul>
                        <li><span>Đồng hành cùng con học trực tuyến</span></li>
                        <li><span>Theo dõi kết quả học tập</span></li>
                    </ul>
                </div>
                <div class="object__item pr">
                    <span class="ob">Nhà quản lý giáo dục</span>
                    <ul>
                        <li><span>Theo dõi tiến trình dạy và học của giáo viên và học sinh</span></li>
                        <li><span>Có những sự điều chỉnh kịp thời nhằm nâng cao chất lượng dạy và học</span></li>
                    </ul>
                </div>
                <div class="object__item pr">
                    <span class="ob">Học sinh</span>
                    <ul>
                        <li><span>Học trực tuyến</span></li>
                        <li><span>Ôn tập kiến thức và thi thử</span></li>
                    </ul>
                </div>
                <div class="object__avt pr">
                    <div class="avt"><img src="./assets/img/avt-gv.svg" alt=""></div>
                    <div class="avt"><img src="./assets/img/avt-ph1.svg" alt=""></div>
                    <div class="avt"><img src="./assets/img/avt-house.svg" alt=""></div>
                    <div class="avt"><img src="./assets/img/avt-student.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-vepic">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="inline line8">Hoc10</span> - phiên bản điện tử độc quyền của bộ SGK Cánh Diều</h2>
            </div>
            <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video">
                <div class="video__thumb"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
            </div>
            <div class="intro-list row">
                <div class="col-lg-4 col-md-6">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book5.svg" alt=""></div>
                        <h4>Bộ sách thứ nhất (đầu tiên)</h4>
                        <p>Bộ sách thứ nhất (đầu tiên) góp phần thực hiện chủ trương xã hội hoá sách giáo khoa, xoá bỏ cơ chế độc quyền trong lĩnh vực xuất bản - in - phát hành sách giáo khoa.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book6.svg" alt=""></div>
                        <h4>Tác giả bộ sách Cánh Diều</h4>
                        <p>Tác giả bộ sách Cánh Diều là những nhà giáo, nhà khoa học tâm huyết và giàu kinh nghiệm, trong đó có tác giả là Tổng Chủ biên Chương trình Giáo dục phổ thông 2018 và nhiều tác giả là thành viên Ban Phát triển Chương trình tổng thể, Ban Phát triển các chương trình môn học thành lập theo Quyết định của Bộ trưởng Bộ GDĐT.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="content">
                        <div class="img-wrapper"><img src="./assets/img/img-book8.svg" alt=""></div>
                        <h4>Phiên bản điện tử</h4>
                        <p>Bên cạnh sách giấy, bộ sách Cánh Diều còn có phiên bản điện tử và nhiều học liệu điện tử sinh động đi kèm để hỗ trợ quá trình giảng dạy - học tập của Giáo viên và Học sinh.</p>
                    </div>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn-sub btn-viewmore flex-center">Xem thêm</a>
        </div>
    </div>
    <div class="hoc10-team hoc10-team--ex bg-gr">
        <div class="container">
            <div class="header">
                <h2 class="title">Đội ngũ <span>chuyên gia</span></h2>
                <p>Hoc10 được xây dựng, cố vấn chuyên môn bởi các chuyên gia Giáo dục đầu ngành</p>
            </div>
            <div class="team-list">
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh pr">
                        <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                        <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                        <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                        <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn-sub btn-more flex-center">Xem thêm</a>
        </div>
    </div>
    <div class="hoc10-onepercent pr">
        <div class="container pr">
            <div class="row">
                <div class="col-lg-4">
                    <div class="intro">
                        <h2 class="title">Về <span>One Percent</span></h2>
                        <p>Là doanh nghiệp đi đầu về lĩnh vực công nghệ trong giáo dục, One Percent mong muốn xây dụng nền tảng giáo dục bằng cách tạo nên một môi trường dạy và học trực tuyến chất lượng cao, đầy nhiệt huyết, hứng thú và sáng tạo</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="team">
                        <h2 class="title title-pc"><span>Đội ngũ One Percent</span> đã phát triển</h2>
                        <h2 class="title title-mobile">Sản phẩm của <span>One Percent</span></h2>
                        <div class="project flex">
                            <div class="project__monkey project__monkey--pc flex-center">
                                <a href="" title=""><img src="./assets/img/monkey-junior.svg" alt=""></a>
                                <a href="" title=""><img src="./assets/img/monkey-stories.svg" alt=""></a>
                                <a href="" title=""><img src="./assets/img/monkey-math.svg" alt=""></a>
                                <a href="" title=""><img src="./assets/img/vmonkey.svg" alt=""></a>
                            </div>
                            <div class="project__monkey project__monkey--mobile flex-center">
                                <a href="" title=""><img src="./assets/img/logo-monkey1.svg" alt=""></a>
                            </div>
                            <div class="project__hoc10 flex-center">
                                <img src="./assets/img/logo2.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" title="Xem thêm" class="btn-sub btn-viewmore flex-center">Xem thêm</a>
        </div>
    </div>
</main>