<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đội ngũ chuyên gia</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-intro hoc10-intro--2">
        <div class="container">
            <div class="text-intro decor-h3 pr">
                <h1 class="title">Đội ngũ chuyên gia</h1>
                <p>Chủ biên và tác giả của bộ sách Cánh Diều đều là những người giàu kinh nghiệm viết SGK, giàu kinh nghiệm về giáo dục phổ thông nói chung, giáo dục tiểu học nói riêng. Hầu hết tổng chủ biên, chủ biên và nhiều tác giả bộ sách là tổng chủ biên Chương trình GDPT năm 2018, chủ biên chương trình môn học hoặc thành viên Ban soạn thảo Chương trình GDPT năm 2018 của Bộ GDĐT.</p>
            </div>
        </div>
    </div>
    <div class="hoc10-intro-video">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-5">
                    <div class="text">
                        Nếu như chương trình hiện hành tập trung trả lời cho câu hỏi “Học xong chương trình, học sinh biết được những gì?” thì chương trình mới sẽ tập trung trả lời cho câu hỏi “Học xong chương trình, học sinh làm được những gì?
                    </div>
                    <div class="author flex-lc">
                        <div class="author__avt"><img src="./assets/img/avt1.png" alt=""></div>
                        <div class="author__name txt-5">GS Nguyễn Minh Thuyết</div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                        <div class="video__thumb"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                        <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-team hoc10-team--exp bg-gr">
        <div class="container pr">
            <div class="header">
                <h2 class="title">Danh sách chuyên gia</span></h2>
                <p>Tìm thấy <span>69</span> tác giả tham gia</p>
            </div>
            <ul class="tab nav tab-pr">
                <li><a href="#lop1" class="active" data-toggle="tab">Lớp 1</a></li>
                <li><a href="#lop2" data-toggle="tab">Lớp 2</a></li>
                <li><a href="#lop3" data-toggle="tab">Lớp 3</a></li>
                <li><a href="#lop4" data-toggle="tab">Lớp 4</a></li>
                <li><a href="#lop5" data-toggle="tab">Lớp 5</a></li>
                <li><a href="#lop6" data-toggle="tab">Lớp 6</a></li>
                <li><a href="#lop7" data-toggle="tab">Lớp 7</a></li>
                <li><a href="#lop8" data-toggle="tab">Lớp 8</a></li>
                <li><a href="#lop9" data-toggle="tab">Lớp 9</a></li>
                <li><a href="#lop10" data-toggle="tab">Lớp 10</a></li>
                <li><a href="#lop11" data-toggle="tab">Lớp 11</a></li>
                <li><a href="#lop12" data-toggle="tab">Lớp 12</a></li>
            </ul>
            <div class="tab-content">
                <div id="lop1" class="tab-pane fade show active">
                    <ul class="tab nav tab-sub">
                        <li><a href="#all" class="active" data-toggle="tab">Tất cả</a></li>
                        <li><a href="#nguvan" data-toggle="tab">Ngữ Văn</a></li>
                        <li><a href="#toan" data-toggle="tab">Toán</a></li>
                        <li><a href="#sinhhoc" data-toggle="tab">Sinh học</a></li>
                        <li><a href="#vatly" data-toggle="tab">Vật lý</a></li>
                        <li><a href="#hoahoc" data-toggle="tab">Hoá học</a></li>
                        <li><a href="#dialy" data-toggle="tab">Địa lý</a></li>
                        <li><a href="#mythuat" data-toggle="tab">Mỹ thuật</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="all" class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                            </ul>
                        </div>
                        <div id="nguvan" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="item">
                                        <div class="bg-sh pr">
                                            <div class="avatar"><img src="./assets/img/avt1.png" alt=""></div>
                                            <div class="name">PGS.TS Nguyễn Ngọc Thống</div>
                                            <div class="position">Tổng chủ biên chương trình giáo dục phổ thông mới, Chủ biên bộ sách Cánh Diều</div>
                                            <div class="summary">Ông là Tiến sĩ, Giáo sư, Giảng viên cao cấp thuộc Khoa Ngôn ngữ học của Trường Đại học Khoa học Xã hội và Nhân văn, Đại học Quốc gia Hà Nội từ 1990 đến 2003.</div>
                                            <div class="ps">Chủ biên môn Ngữ Văn lớp 6</div>
                                            <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-bookaccess hoc10-bookaccess--cs1">
        <div class="container">
            <div class="content">
                <h3>Đăng ký ngay để trải nghiệm SGK Cánh Diều phiên bản điện tử</h3>
                <a href="" title="Truy cập vào tủ sách" class="btn-access flex-center">Truy cập vào tủ sách</a>
            </div>
        </div>
    </div>
</main>