<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chương trình GDPT 2018</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-intro hoc10-intro--2">
        <div class="container">
            <div class="text-intro decor-h3 pr">
                <h1 class="title">Chương trình GDPT 2018</h1>
                <p>Chương trình chỉ quy định những nguyên tắc, định hướng chung về yêu cầu cần đạt về phẩm chất và năng lực của học sinh, nội dung giáo dục, phương pháp giáo dục và việc đánh giá kết quả giáo dục, không quy định quá chi tiết, để tạo điều kiện cho tác giả sách giáo khoa và giáo viên phát huy tính chủ động, sáng tạo trong thực hiện chương trình.</p>
            </div>
        </div>
    </div>
    <div class="hoc10-target">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="line8">Mục tiêu</span>chương trình GDPT 2018</h2>
            </div>
            <div class="target-list pr">
                <div class="target flex">
                    <div class="icon flex"><img src="./assets/img/icon-man1.svg" alt=""></div>
                    <div class="content">
                        <h4>Giáo dục tiểu học</h4>
                        <p>Chương trình giáo dục tiểu học giúp học sinh hình thành và phát triển những yếu tố căn bản đặt nền móng cho sự phát triển hài hoà và năng lực; định hướng chính vào giáo dục về giá trị bản thân, gia đình, cộng đồng và những thói quen, nề nếp cần thiết trong học tập và sinh hoạt.</p>
                    </div>
                </div>
                <div class="target flex">
                    <div class="icon flex"><img src="./assets/img/icon-man2.svg" alt=""></div>
                    <div class="content">
                        <h4>Giáo dục THCS</h4>
                        <p>Chương trình giáo dục trung học cơ sở giúp học sinh phát triển các phẩm chất, năng lực đã được hình thành và phát triển ở cấp tiểu học; tự điều chỉnh bản thân theo các chuẩn mực chung của xã hội; biết vận dụng các phương pháp học tập tích cực để hoàn chỉnh tri thức và kỹ năng nền tảng; có những hiểu biết ban đầu về các ngành nghề và có ý thức hướng nghiệp để tiếp tục học lên trung học phổ thông, học nghề hoặc tham gia vào cuộc sống lao động.</p>
                    </div>
                </div>
                <div class="target flex">
                    <div class="icon flex"><img src="./assets/img/icon-man3.svg" alt=""></div>
                    <div class="content">
                        <h4>Giáo dục THPT</h4>
                        <p>Chương trình giáo dục trung học phổ thông giúp học sinh tiếp tục phát triển những phẩm chất, năng lực cần thiết đổi với người lao động, ý thức và nhân cách công dân; khả năng tự học và ý thức học tập suốt đời khả năng lựa chọn nghề nghiệp phù hợp với năng lực và sở thích, điều kiện và hoàn cảnh của bản thân để tiếp tục học lên, học nghề hoặc tham gia vào cuộc sống lao động; khả năng thích ứng với những đổi thay trong bối cảnh toàn cầu hoá và cách mạng công nghiệp mở.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-plan hoc10-plan--cs1 bg-gr">
        <div class="container">
            <div class="plan">
                <div class="header">
                    <h2 class="title">
                        Kế hoạch phát hành sách
                        theo chương trình GDPT mới 2018
                    </h2>
                </div>
                <ul class="timeline flex">
                    <li class="active">
                        <div class="content">
                            <time>2020 - 2021</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 1</span>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="content">
                            <time>2021 - 2022</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-star.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 2</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2022 - 2023</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 3</span>
                                <span>Lớp 7</span>
                                <span>Lớp 10</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2023 - 2024</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 4</span>
                                <span>Lớp 8</span>
                                <span>Lớp 11</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <time>2024 - 2025</time>
                            <div class="icon flex-center"><img src="./assets/img/icon-cd.svg" alt=""></div>
                            <div class="class flex">
                                <span>Lớp 5</span>
                                <span>Lớp 9</span>
                                <span>Lớp 12</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hoc10-program pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Chương trình môn học</h2>
                <form action="" method="" class="hoc10-form">
                    <div class="form-group flex-center">
                        <input type="text" name="" placeholder="Nhập tên sách/ tài liệu cần tìm">
                        <button type="submit" class="btn-submit flex-center btn-pr">Tìm Kiếm</button>
                    </div>
                </form>
            </div>
            <div class="subjects-list flex">
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh1.svg" alt=""></div>
                    <div class="subject__name">Môn Tiếng Việt</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh2.svg" alt=""></div>
                    <div class="subject__name">Môn Công Nghệ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh3.svg" alt=""></div>
                    <div class="subject__name">Môn Công Nghệ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh4.svg" alt=""></div>
                    <div class="subject__name">Môn Ngoại Ngữ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh5.svg" alt=""></div>
                    <div class="subject__name">Môn Sinh Học</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh6.svg" alt=""></div>
                    <div class="subject__name">Môn Địa Lý</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh7.svg" alt=""></div>
                    <div class="subject__name">Môn Sức khoẻ</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh8.svg" alt=""></div>
                    <div class="subject__name">Môn Vật Lý</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh9.svg" alt=""></div>
                    <div class="subject__name">Môn Mỹ Thuật</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh10.svg" alt=""></div>
                    <div class="subject__name">Môn Âm Nhạc</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh2.svg" alt=""></div>
                    <div class="subject__name">Môn Thủ Công</div>
                    <a href="" class="subject__pdf"></a>
                </div>
                <div class="subject">
                    <div class="subject__img"><img src="./assets/img/mh11.svg" alt=""></div>
                    <div class="subject__name">Môn Hoá Học</div>
                    <a href="" class="subject__pdf"></a>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
            </ul>
        </div>
    </div>
</main>