<div class="hoc10-slideshow">
    <div class="header">
        <div class="container flex-lc">
            <a href="" title="" class="btn-back flex-lc">
                <i class="icon icon-back"></i>
                <span class="text">Bài giảng</span>
                <span class="tag">Lớp 6</span>
                <span class="tag">Môn ngữ văn</span>
            </a>
            <div class="box-btn flex-lc">
                <button type="button" class="btn-play flex-center"><i class="icon icon-play"></i> Trình chiếu</button>
                <button type="button" class="btn-download flex-center"><i class="icon icon-download"></i> Tải xuống</button>
                <button type="button" class="btn-share flex-center"><i class="icon icon-share"></i></button>
            </div>
            <div class="dropdown">
                <button type="button" class="btn-dropdown"></button>
                <div class="dropdown__menu">
                    <a href="" title="" class="flex-lc"><i class="icon icon-download"></i> Tải xuống</a>
                    <a href="" title="" class="flex-lc"><i class="icon icon-share"></i> Chia sẻ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main flex pr">
        <div class="sidebar pr">
            <ul class="list-slide pr">
                <li class="active">
                    <div class="number flex-center txt-4">1</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">2</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">3</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">4</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">5</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">6</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">7</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
                <li>
                    <div class="number flex-center txt-4">8</div>
                    <div class="img-wrapper"><img src="./assets/img/slide.jpg" alt=""></div>
                </li>
            </ul>
            <button type="button" class="btn-hide btn-pr flex-center">Danh sách</button>
        </div>
        <div class="content">
            <h3>Bài mở đầu</h3>
            <div class="slide-wrapper">
                <img src="./assets/img/slide1.png" alt="">
            </div>
        </div>
        <div class="box-video">
            <h4>Danh sách video</h4>
            <div class="box-filter flex">
                <form action="" method="" class="search-form pr">
                    <div class="form-group flex pr">
                        <input id="search" type="text" name="" placeholder="Tìm kiếm" required="">
                    </div>
                </form>
                <div class="box-select">
                    <select name="" class="select-min2">
                        <option value="Lớp">Lớp</option>
                        <option value="Lớp 1">Lớp 1</option>
                        <option value="Lớp 2">Lớp 2</option>
                    </select>
                </div>
                <div class="box-select">
                    <select name="" class="select-min2">
                        <option value="Môn">Môn</option>
                        <option value="Toán">Toán</option>
                        <option value="Tiếng anh">Tiếng anh</option>
                    </select>
                </div>
            </div>
            <div class="video-list">
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video1.jpg" alt=""></div>
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video2.jpg" alt=""></div>
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video2.jpg" alt=""></div>
                <div class="video pr" data-link="" data-toggle="modal" data-target="#modal-video"><img src="./assets/img/thumb-video2.jpg" alt=""></div>
            </div>
        </div>
        <button type="button" class="btn-show btn-pr flex-center">Hiện danh sách slide</button>
    </div>
</div>