<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Giáo viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bài giảng</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-practice-title bg-gr">
        <div class="container">
            <div class="header title decor-h1 pr">
                <h1 class="title">Bài giảng</h1>
            </div>
        </div>
    </div>
    <div class="hoc10-overview">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-5">
                    <div class="text">
                        <h2 class="title">Tổng quan</h2>
                        <h4>Giáo viên có thể</h4>
                        <p>Tự tạo bài giảng mới sử dụng thư viện tài liệu sẵn có (Ảnh, Audio, Video)</p>
                        <p>Chia sẻ bài giảng</p>
                        <p>Tham khảo và chỉnh sửa bài giảng gợi ý từ thư viện bài giảng mẫu</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="box-video decor-vd pr">
                        <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                            <div class="video__thumb"><img src="./assets/img/thumb-video9.jpg" alt=""></div>
                            <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-lesson bg-gray">
        <div class="container">
            <div class="header flex-lc">
                <h2 class="title">Bài giảng của tôi</h2>
                <a href="" title="Xem tất cả" class="btn-viewall btn-viewall--cs1 flex-center">Xem tất cả</a>
            </div>
            <div class="lesson-list">
                <div class="item">
                    <a href="" class="addnew flex-center"><i class="icon icon-add"></i><span>Tạo mới</span></a>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson1.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson1.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson1.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-lesson bg-gr">
        <div class="container">
            <div class="header flex-lc">
                <h2 class="title">Bài giảng được chia sẻ</h2>
                <a href="" title="Xem tất cả" class="btn-viewall btn-viewall--cs2 flex-center">Xem tất cả</a>
            </div>
            <div class="lesson-list">
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <p>Người chia sẻ: Nguyễn Văn A</p>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <p>Người chia sẻ: Nguyễn Văn A</p>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <p>Người chia sẻ: Nguyễn Văn A</p>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post post-lesson">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="">Bài 1: Tập hợp</a></h3>
                            <p>Người chia sẻ: Nguyễn Văn A</p>
                            <div class="flex tag">
                                <span>Toán</span>
                                <span>Lớp 6</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-lesson-library">
        <div class="container">
            <div class="header">
                <h2 class="title">Thư viện bài giảng mẫu</h2>
                <div class="box-filter flex-lc">
                    <div class="box-select">
                        <select name="" class="select-min2">
                            <option value="Lớp">Lớp</option>
                            <option value="Lớp 1">Lớp 1</option>
                            <option value="Lớp 2">Lớp 2</option>
                        </select>
                    </div>
                    <div class="box-select">
                        <select name="" class="select-min2">
                            <option value="Môn">Môn</option>
                            <option value="Toán">Toán</option>
                            <option value="Tiếng anh">Tiếng anh</option>
                        </select>
                    </div>
                    <form action="" method="" class="search-form pr">
                        <div class="form-group flex pr">
                            <input id="search" type="text" name="" placeholder="Nhập tên bài học cần tìm" required="">
                            <button type="submit" class="btn_submit btn-pr flex-center">Tìm Kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                        <div class="block flex-center">
                            <i class="icon icon-block"></i>
                            <p>Ngày phát hành: 06/01/2022</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-lesson3.jpg" class="fit" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title="" class="line line2">Tuần 14 - Bài 39: Lít - Tiết 1</a></h3>
                            <div class="tag flex">
                                <a href="" title="">Tự nhiên và xã hội</a>
                                <a href="" title="">Lớp 6</a>
                            </div>
                            <a href="" title="" class="btn-view btn-pr flex-center">Xem nhanh</a>
                        </div>
                        <div class="data flex-lc">
                            <div class="download flex-lc"><i class="icon icon-download"></i> 233</div>
                            <div class="view flex-lc"><i class="icon icon-view"></i> 233</div>
                            <div class="share flex-lc"><i class="icon icon-share"></i> 2</div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="loading flex-center"><img src="./assets/img/loading.svg" alt=""></div>
        </div>
    </div>
</main>