<main>
    <div class="hoc10-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chọn sách giáo khoa: Sách Cánh Diều áp đảo</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="article post">
                        <h1 class="title">Chọn sách giáo khoa: Sách “Cánh Diều” áp đảo tuyệt đối</h1>
                        <div class="flex-between">
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                            </div>
                            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                        <article>
                            <p><strong>TTO - Ngày 20-5, theo yêu cầu của Bộ GD-ĐT, các sở GD-ĐT báo cáo kết quả chọn sách giáo khoa lớp 1 mới. Xu thế 'chọn theo bộ sách giáo khoa' vẫn nổi trội hơn 'chọn theo môn'. Và kết quả cũng nhiều bất ngờ...</strong></p>
                            <figure>
                                <img src="./assets/img/img-news.jpg" alt="Trulli" style="width:100%">
                                <figcaption>Một tác giả của sách giáo khoa toán “Cùng học để phát triển năng lực” tập huấn cho giáo viên Trường tiểu học Ngôi Sao (Hà Nội) - Ảnh: Vĩnh Hà</figcaption>
                            </figure>
                            <h4>"Cánh diều" áp đảo</h4>
                            <p>Trong năm bộ sách giáo khoa (SGK) lớp 1 được Bộ GD-ĐT phê duyệt để các trường lựa chọn, bộ SGK "Cánh diều" không thuộc Nhà xuất bản Giáo Dục Việt Nam mà do Nhà xuất bản Đại Học Sư Phạm Hà Nội và Nhà xuất bản Đại Học Sư Phạm TP.HCM tổ chức biên soạn.</p>
                            <p>Khi chủ trương "một chương trình, nhiều bộ SGK" được thông qua, nhiều băn khoăn các tổ chức, cá nhân không có bề dày kinh nghiệm và tiềm lực biên soạn SGK sẽ khó có thể cạnh tranh với những đơn vị nhiều năm độc quyền xuất bản SGK là Nhà xuất bản Giáo Dục Việt Nam.</p>
                            <p>Nhưng nhìn vào kết quả lựa chọn SGK lần này, điều bất ngờ là bộ "Cánh diều" lại có nhiều sự lựa chọn hơn hẳn bốn bộ còn lại. Trong đó, một số địa phương có số lượng học sinh đông như Thanh Hóa, Thái Bình, Nam Định, Phú Thọ thiên về chọn "Cánh diều". Đây cũng là bộ SGK được lựa chọn từ các vùng, miền cả nước.</p>
                            <p>Đặc biệt, một số tỉnh Nam Bộ đã chọn bộ sách này với tỉ lệ khá cao. Ở cả những địa bàn lựa chọn sách từ nhiều bộ (tùy theo môn) thì tỉ lệ lựa chọn sách cho những môn chính như toán, tiếng Việt từ bộ "Cánh diều" cũng áp đảo. Ví dụ, sách toán của "Cánh diều" được 100% trường ở Sơn La chọn. Trong khi đó, Phú Thọ có 100% trường chọn sách toán, tiếng Việt, tự nhiên và xã hội.</p>
                            <p><img src="./assets/img/img-dt.jpg" alt=""></p>
                            <p>Ở khu vực phía Bắc, bộ "Cùng học để phát triển năng lực" có số trường lựa chọn cao như Lạng Sơn, Lào Cai. Tuy vậy, bộ SGK được coi là bộ "nền" của Nhà xuất bản Giáo Dục Việt Nam có tên "Kết nối tri thức" lại kém cạnh so với các bộ sách khác</p>
                            <p>TS Thái Văn Tài - vụ trưởng Vụ Giáo dục tiểu học, Bộ GD-ĐT - cho biết cả 46 cuốn SGK lớp 1 đã được bộ trưởng Bộ GD-ĐT phê duyệt đều được chọn, dù số lượng ít nhiều khác nhau. Cách lựa chọn của các tỉnh cũng đa dạng như chọn cả bộ của một đơn vị hoặc chọn sách theo môn để ghép thành một bộ đầy đủ môn học.</p>
                            <p>"Chưa có tỉnh nào chỉ chọn duy nhất một bộ SGK. Có những môn học có ít nhất ba cuốn SGK của ba đơn vị khác nhau được chọn trên một địa bàn tỉnh, thành" - ông Tài cho biết.</p>
                            <p>Tuy nhiên theo ông Tài, Bộ GD-ĐT sẽ lắng nghe ý kiến khách quan từ các địa phương trong lần chọn SGK này để rút kinh nghiệm, điều chỉnh hướng dẫn nếu cần thiết, để các lần chọn SGK sau tốt hơn.</p>
                            <p><img src="./assets/img/img-dt2.jpg" alt=""></p>
                            <p>Ở khu vực phía Bắc, bộ "Cùng học để phát triển năng lực" có số trường lựa chọn cao như Lạng Sơn, Lào Cai. Tuy vậy, bộ SGK được coi là bộ "nền" của Nhà xuất bản Giáo Dục Việt Nam có tên "Kết nối tri thức" lại kém cạnh so với các bộ sách khác.</p>
                            <p>TS Thái Văn Tài - vụ trưởng Vụ Giáo dục tiểu học, Bộ GD-ĐT - cho biết cả 46 cuốn SGK lớp 1 đã được bộ trưởng Bộ GD-ĐT phê duyệt đều được chọn, dù số lượng ít nhiều khác nhau. Cách lựa chọn của các tỉnh cũng đa dạng như chọn cả bộ của một đơn vị hoặc chọn sách theo môn để ghép thành một bộ đầy đủ môn học.</p>
                            <p>"Chưa có tỉnh nào chỉ chọn duy nhất một bộ SGK. Có những môn học có ít nhất ba cuốn SGK của ba đơn vị khác nhau được chọn trên một địa bàn tỉnh, thành" - ông Tài cho biết.</p>
                            <p>Tuy nhiên theo ông Tài, Bộ GD-ĐT sẽ lắng nghe ý kiến khách quan từ các địa phương trong lần chọn SGK này để rút kinh nghiệm, điều chỉnh hướng dẫn nếu cần thiết, để các lần chọn SGK sau tốt hơn.</p>
                        </article>
                        <div class="quote">
                            <h4>"Cánh diều" áp đảo</h4>
                            <p>Chia sẻ với Tuổi Trẻ, cô Nguyễn Thị Hương - phó hiệu trưởng Trường tiểu học Ngôi Sao (Hà Nội) - cho biết sự đồng thuận của thành viên hội đồng chọn sách của trường về bộ "Cùng học để phát triển năng lực" là tính cấu trúc sách gợi mở cho việc tổ chức hoạt động học cho học sinh rất tốt.</p>
                            <p>Nhưng cơ bản, sự thiện cảm của giáo viên với bộ sách này lại nằm nhiều ở sách giáo viên (đi kèm với SGK). "Sách thiết kế hoạt động dạy cho giáo viên bài bản. Bên cạnh đó là thiết bị dạy học phân bổ đến từng tiết dạy, từng tuần, từng tháng. Dựa vào đó giáo viên có thể xây dựng giáo án giấy và giáo án PowerPoint thuận lợi" - cô Hương chia sẻ.</p>
                            <p>Cũng theo cô Hương, yếu tố "dễ dạy" và nhìn thấy hiệu quả rõ ràng là điểm được nhiều người trong hội đồng đánh giá cao.</p>
                        </div>
                        <div class="author">Vĩnh Hà</div>
                    </div>
                    <div class="related">
                        <h4>Tin liên quan</h4>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học trực tuyến: Dễ dàng hay thử thách?</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học trực tuyến: Dễ dàng hay thử thách?</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học trực tuyến: Dễ dàng hay thử thách?</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="sidebar">
                        <div class="readmany">
                            <h4>Nhiều người đọc</h4>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="email-register">
                            <h4>Đăng ký trải nghiệm đầy đủ tính năng Hoc10</h4>
                            <form action="" method="">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Nhập địa chỉ email">
                                </div>
                                <button type="submit" class="btn-submit btn-pr flex-center">Đăng ký ngay</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-contactus pr">
        <div class="container">
            <a href="" title="Liên hệ với chúng tôi" class="btn-contact flex-center">Liên hệ với chúng tôi</a>
            <ul class="contact-list flex">
                <li>
                    <i class="icon icon-phone"></i>
                    <a href="tel:02473098866">024.73098866</a>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-facebook"></i>
                    <a href="fb.com/hoc10.vn" title="">fb.com/hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-chat"></i>
                    <a href="" title="">hỗ trợ trực tuyến</a>
                </li>
            </ul>
        </div>
    </div>
</main>