<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container">
            <div class="header decor-h1 pr">
                <h1 class="title mb-10">Tin tức</h1>
                <p>Những tin tức cập nhật từ Hoc10</p>
            </div>
        </div>
    </div>
    <div class="hoc10-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="post-list">
                        <article class="post post--highlight">
                            <a href="" class="post__thumb"><img src="./assets/img/img-news.jpg" alt="" class="fit"></a>
                            <div class="post__content">
                                <h3><a href="">Trăn trở việc dạy và học trực tuyến</a></h3>
                                <p>
                                    Do dịch Covid-19 diễn biến phức tạp nên sau ngày khai giảng năm học 2021-2022, tại nhiều địa phương, trẻ vẫn chưa thể đến trường. Tuy nhiên, không khí dạy và học lại đang sôi nổi trên các diễn đàn giáo dục với việc dạy học trực tuyến. Theo Bộ Giáo dục và Đào tạo, đây là phương án “thay thế dạy học trực tiếp”, giúp các cơ...
                                    <a href="" title="" class="btn-viewmore">Xem thêm</a>
                                </p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học trực tuyến: Dễ dàng hay thử thách?</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học sinh hào hứng với giáo trình trên Hoc10</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học trực tuyến: Dễ dàng hay thử thách?</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                        <article class="post post-ty2 flex">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-news3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="">Học sinh hào hứng với giáo trình trên Hoc10</a></h3>
                                <p class="line line2">Trong bối cảnh hiện nay, việc dạy học trực tuyến được nhiều địa phương lựa chọn để đảm bảo yêu cầu của công tác...</p>
                                <div class="flex-lc">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 22/10/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 1.288</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="sidebar">
                        <div class="readmany">
                            <h4>Nhiều người đọc</h4>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                            <article class="post post-ty3 flex pr">
                                <a href="" class="post__thumb"><img src="./assets/img/img-news2.jpg" class="fit" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Trăn trở việc học online trong thời kì giãn cách những ngày qua</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="email-register">
                            <h4>Đăng ký trải nghiệm đầy đủ tính năng Hoc10</h4>
                            <form action="" method="">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Nhập địa chỉ email">
                                </div>
                                <button type="submit" class="btn-submit btn-pr flex-center">Đăng ký ngay</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-contactus pr">
        <div class="container">
            <a href="" title="Liên hệ với chúng tôi" class="btn-contact flex-center">Liên hệ với chúng tôi</a>
            <ul class="contact-list flex">
                <li>
                    <i class="icon icon-phone"></i>
                    <a href="tel:02473098866">024.73098866</a>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-facebook"></i>
                    <a href="fb.com/hoc10.vn" title="">fb.com/hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-chat"></i>
                    <a href="" title="">hỗ trợ trực tuyến</a>
                </li>
            </ul>
        </div>
    </div>
</main>