<div class="password-setting bg-gray">
    <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
    <div class="box-reset bg-sh">
        <h2 class="title">Cài đặt lại mật khẩu trên <span>hoc10.vn</span></h2>
        <p>Xin chào <span>jangnt2@gmail.com</span></p>
        <p>Chúng tôi đã nhận được một yêu cầu đặt lại mật khẩu trên Hoc10.vn của bạn</p>
        <div class="box-code">
            <h5 class="txt-5">Mã xác thực của bạn:</h5>
            <div class="code flex-center">196035</div>
        </div>
        <p>Vui lòng bỏ qua email này nếu người yêu cầu không phải là bạn. <br>
            Cảm ơn và chúc bạn một ngày tốt lành.</p>
        <p>Đội ngũ CSKH của hoc10.vn</p>
        <div class="social flex">
            <a href="" title="" class="facebook flex-center txt-5"><i class="icon icon-facebook1"></i> Facebook</a>
            <a href="" title="" class="youtube flex-center txt-5"><i class="icon icon-youtube"></i> Youtube</a>
        </div>
        <div class="hotline flex-lc"><i class="icon icon-phone1"></i> Hotline: <a href="tel:02473098866">02473098866</a></div>
        <div class="mail flex-lc"><i class="icon icon-email1"></i> Email: <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a></a></div>
    </div>
</div>