<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="">Luyện tập</a></li>
                <li class="breadcrumb-item active" aria-current="page">Toán Lớp 6 - Sách gíao khoa</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container pr">
            <div class="subject flex-lc">
                <div class="subject__icon flex-center"><img src="./assets/img/icon-toan1.svg" alt=""></div>
                <div class="subject__info">
                    <h5 class="txt-2">Luyện tập</h5>
                    <h1 class="title">Toán lớp 6 - <span>SGK</span></h1>
                    <p>Ôn tập kiến thức cùng kho bài tập phong phú</p>
                    <button type="button" class="btn-sub flex-center">Thay đổi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-practice-list">
        <div class="container">
            <h2 class="title">Chương I: Số tự nhiên</h2>
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="table-of-content bg-sh">
                        <div class="header flex-lc">
                            <h3 class="sm">Chương I</h3>
                            <span>1/5 bài</span>
                        </div>
                        <ul class="list">
                            <li class="finish">
                                <div class="title"><p><span>Bài 1:</span> Số tự nhiên là gì</p></div>
                                <div class="percent">100%</div>
                                <div class="progress"><div class="progress-bar" style="width: 100%;"></div></div>
                            </li>
                            <li class="doing">
                                <div class="title"><p><span>Bài 2:</span> Luyện tập với số tự nh...</p></div>
                                <div class="percent">50%</div>
                                <div class="progress"><div class="progress-bar" style="width: 50%"></div></div>
                            </li>
                            <li>
                                <div class="title"><p><span>Bài 3:</span> Số tự nhiên mở rộng</p></div>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                            <li>
                                <div class="title"><p><span>Bài 4:</span> Số tự nhiên là gì</p></div>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                            <li>
                                <div class="title"><p><span>Bài 5:</span> Số tự nhiên mở rộng 2</p></div>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3>Bài 1: Số tự nhiên là gì</h3>
                            <a href="" title="Kết quả" class="btn-result btn-pr flex-center active"><i class="icon icon-chart"></i> Kết quả</a>
                        </div>
                        <div class="Knowledge">
                            <h4 class="txt-5">Kiến thức</h4>
                            <a href="javascript:;" class="video flex-lc" data-link="" data-toggle="modal" data-target="#modal-video"><i class="icon icon-video"></i> <span>Video bài giảng</span></a>
                            <a href="" class="summary flex-lc"><i class="icon icon-doc"></i> <span>Tóm tắt kiến thức</span></a>
                        </div>
                        <div class="excrise">
                            <h4>Luyện tập</h4>
                            <ul class="excrise__list flex">
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 1</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 2</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 3</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3>Bài 2: Số tự nhiên là gì</h3>
                            <a href="" title="Kết quả" class="btn-result btn-pr flex-center active"><i class="icon icon-chart"></i> Kết quả</a>
                        </div>
                        <div class="Knowledge">
                            <h4 class="txt-5">Kiến thức</h4>
                            <a href="javascript:;" class="video flex-lc" data-link="" data-toggle="modal" data-target="#modal-video"><i class="icon icon-video"></i> <span>Video bài giảng</span></a>
                            <a href="" class="summary flex-lc"><i class="icon icon-doc"></i> <span>Tóm tắt kiến thức</span></a>
                        </div>
                        <div class="excrise">
                            <h4>Luyện tập</h4>
                            <ul class="excrise__list flex">
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 1</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 2</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 3</span></a></li>
                                <li><a href="" title="" class="finish"><i class="icon icon-pen"></i><span>Luyện tập 4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3>Bài 3: Số tự nhiên là gì</h3>
                            <a href="" title="Kết quả" class="btn-result btn-pr flex-center"><i class="icon icon-chart"></i> Kết quả</a>
                        </div>
                        <div class="Knowledge">
                            <h4 class="txt-5">Kiến thức</h4>
                            <a href="javascript:;" class="video flex-lc" data-link="" data-toggle="modal" data-target="#modal-video"><i class="icon icon-video"></i> <span>Video bài giảng</span></a>
                            <a href="" class="summary flex-lc"><i class="icon icon-doc"></i> <span>Tóm tắt kiến thức</span></a>
                        </div>
                        <div class="excrise">
                            <h4>Luyện tập</h4>
                            <ul class="excrise__list flex">
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 1</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 2</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 3</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3>Bài 4: Số tự nhiên là gì</h3>
                            <a href="" title="Kết quả" class="btn-result btn-pr flex-center"><i class="icon icon-chart"></i> Kết quả</a>
                        </div>
                        <div class="Knowledge">
                            <h4 class="txt-5">Kiến thức</h4>
                            <a href="javascript:;" class="video flex-lc" data-link="" data-toggle="modal" data-target="#modal-video"><i class="icon icon-video"></i> <span>Video bài giảng</span></a>
                            <a href="" class="summary flex-lc"><i class="icon icon-doc"></i> <span>Tóm tắt kiến thức</span></a>
                        </div>
                        <div class="excrise">
                            <h4>Luyện tập</h4>
                            <ul class="excrise__list flex">
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 1</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 2</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 3</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3>Bài 5: Số tự nhiên là gì</h3>
                            <a href="" title="Kết quả" class="btn-result btn-pr flex-center"><i class="icon icon-chart"></i> Kết quả</a>
                        </div>
                        <div class="Knowledge">
                            <h4 class="txt-5">Kiến thức</h4>
                            <a href="javascript:;" class="video flex-lc" data-link="" data-toggle="modal" data-target="#modal-video"><i class="icon icon-video"></i> <span>Video bài giảng</span></a>
                            <a href="" class="summary flex-lc"><i class="icon icon-doc"></i> <span>Tóm tắt kiến thức</span></a>
                        </div>
                        <div class="excrise">
                            <h4>Luyện tập</h4>
                            <ul class="excrise__list flex">
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 1</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 2</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 3</span></a></li>
                                <li><a href="" title=""><i class="icon icon-pen"></i><span>Luyện tập 4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lesson flex bg-sh">
                        <div class="header flex">
                            <h3><i class="icon icon-star"></i> Kiểm tra chương I</h3>
                            <a href="" title="Kết quả" class="btn-play btn-pr flex-center"><i class="icon icon-file"></i> Làm bài</a>
                        </div>
                        <div class="statistic flex">
                            <div class="flex-lc txt-5"><i class="icon icon-question"></i> 50 câu hỏi</div>
                            <div class="flex-lc txt-5"><i class="icon icon-hourglass"></i> 45 phút</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>