<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="">Luyện tập</a></li>
                <li class="breadcrumb-item active" aria-current="page">Toán Lớp 6 - Sách gíao khoa</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container pr">
            <div class="subject flex-lc">
                <div class="subject__icon flex-center"><img src="./assets/img/icon-toan1.svg" alt=""></div>
                <div class="subject__info">
                    <h5 class="txt-2">Luyện tập</h5>
                    <h1 class="title">Toán lớp 6 - <span>SGK</span></h1>
                    <p>Ôn tập kiến thức cùng kho bài tập phong phú</p>
                    <a href="" title="Thay đổi" class="btn-sub flex-center">Thay đổi</a>
                </div>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-dc5.svg" alt=""></div>
        </div>
    </div>
    <div class="hoc10-menu">
        <div class="container">
            <ul class="tab nav">
                <li><a href="#tab1" data-toggle="tab" class="active">Tập 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Tập 2</a></li>
            </ul>
            <div class="tab-content pr">
                <div id="tab1" class="tab-pane fade show active">
                    <div class="table-content">
                        <div class="item active bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương I: Số tự nhiên</h4>
                                <span>2/5 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                                <li class="active">
                                    <p class="txt-5"><span>Bài 2:</span> Luyện tập với số tự nhiên</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                                <li>
                                    <p class="txt-5"><span>Bài 3:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                                <li>
                                    <p class="txt-5"><span>Bài 4:</span> Luyện tập với số tự nhiên</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                                <li>
                                    <p class="txt-5"><span>Bài 3:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Số tự nhiên là gì</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương II: Luyện tập với số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương III: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương IV: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương V: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="table-content">
                        <div class="item active bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương II: Luyện tập với số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương III: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương IV: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item bg-sh">
                            <div class="header flex-lc">
                                <h4 class="txt-2">Chương V: Số tự nhiên</h4>
                                <span>5/7 bài</span>
                                <button type="button" class="btn-collapse"></button>
                            </div>
                            <ul class="list">
                                <li class="active">
                                    <p class="txt-5"><span>Bài 1:</span> Số tự nhiên là gì</p>
                                    <a href="" title="">Luyện tập</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>