<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="">Luyện tập</a></li>
                <li class="breadcrumb-item active" aria-current="page">Toán Lớp 6 - Sách gíao khoa</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container pr">
            <div class="subject flex-lc">
                <div class="subject__icon flex-center"><img src="./assets/img/icon-toan1.svg" alt=""></div>
                <div class="subject__info">
                    <h5 class="txt-2">Luyện tập</h5>
                    <h1 class="title">Toán lớp 6 - <span>SGK</span></h1>
                    <p>Ôn tập kiến thức cùng kho bài tập phong phú</p>
                    <button type="button" class="btn-sub flex-center">Thay đổi</button>
                </div>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-dc5.svg" alt=""></div>
        </div>
    </div>
    <div class="hoc10-practice-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="table-of-content bg-sh">
                        <div class="header">
                            <h3>Mục lục</h3>
                        </div>
                        <ul class="list">
                            <li class="finish">
                                <h4><span>Chương 1</span></h4>
                                <div class="percent">100%</div>
                                <div class="progress"><div class="progress-bar" style="width: 100%;"></div></div>
                            </li>
                            <li class="doing">
                                <h4><span>Chương 2</span></h4>
                                <div class="percent">50%</div>
                                <div class="progress"><div class="progress-bar" style="width: 50%"></div></div>
                            </li>
                            <li>
                                <h4><span>Chương 3</span></h4>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                            <li>
                                <h4><span>Chương 4</span></h4>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                            <li>
                                <h4><span>Chương 5</span></h4>
                                <div class="percent">0%</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="chapter bg-sh">
                        <div class="header flex">
                            <h3>Chương 1</h3>
                            <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value:100"></div>
                        </div>
                        <ul class="question flex">
                            <li><a href="" title="" class="done"><span>Bài 1: Số tự nhiên là gì?</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 2: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 3: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 4: Mở rộng về số tự nhiên</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 5: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 6: Ôn tập</span></a></li>
                        </ul>
                    </div>
                    <div class="chapter bg-sh">
                        <div class="header flex">
                            <h3>Chương 2</h3>
                            <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div>
                        </div>
                        <ul class="question flex">
                            <li><a href="" title="" class="done"><span>Bài 1: Số tự nhiên là gì?</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 2: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title="" class="done"><span>Bài 3: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 4: Mở rộng về số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 5: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 6: Ôn tập</span></a></li>
                        </ul>
                    </div>
                    <div class="chapter bg-sh">
                        <div class="header flex">
                            <h3>Chương 3</h3>
                            <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:0"></div>
                        </div>
                        <ul class="question flex">
                            <li><a href="" title=""><span>Bài 1: Số tự nhiên là gì?</span></a></li>
                            <li><a href="" title=""><span>Bài 2: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 3: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 4: Mở rộng về số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 5: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 6: Ôn tập</span></a></li>
                        </ul>
                    </div>
                    <div class="chapter bg-sh">
                        <div class="header flex">
                            <h3>Chương 4</h3>
                            <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:0"></div>
                        </div>
                        <ul class="question flex">
                            <li><a href="" title=""><span>Bài 1: Số tự nhiên là gì?</span></a></li>
                            <li><a href="" title=""><span>Bài 2: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 3: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 4: Mở rộng về số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 5: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 6: Ôn tập</span></a></li>
                        </ul>
                    </div>
                    <div class="chapter bg-sh">
                        <div class="header flex">
                            <h3>Chương 5</h3>
                            <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:0"></div>
                        </div>
                        <ul class="question flex">
                            <li><a href="" title=""><span>Bài 1: Số tự nhiên là gì?</span></a></li>
                            <li><a href="" title=""><span>Bài 2: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 3: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 4: Mở rộng về số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 5: Luyện tập cùng với số tự nhiên</span></a></li>
                            <li><a href="" title=""><span>Bài 6: Ôn tập</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>