<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Luyện tập</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-practice-title bg-gr">
        <div class="container">
            <div class="header title decor-h1 pr">
                <h1 class="title">Luyện tập</h1>
            </div>
        </div>
    </div>
    <div class="hoc10-practice-assigned">
        <div class="container">
            <div class="header">
                <h2 class="title">Bài luyện tập được giao</h2>
            </div>
            <div class="practice-list row">
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-toan.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="time">Thời hạn: <span>Còn 16 ngày để hoàn thành</span></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-kh.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="time">Thời hạn: <span>Còn 16 ngày để hoàn thành</span></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-nguvan.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="time">Thời hạn: <span>Còn 16 ngày để hoàn thành</span></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-practice-ex">
        <div class="container">
            <div class="header">
                <h2 class="title">Bài luyện tập gần đây</h2>
            </div>
            <div class="practice-list row">
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-toan.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="progress"><div class="progress-bar" style="width: 30%"></div></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-nguvan.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="progress finish"><div class="progress-bar" style="width: 100%"></div></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="practice bg-sh">
                        <div class="practice__img flex-center"><img src="./assets/img/icon-ta.svg" alt=""></div>
                        <div class="practice__content">
                            <h3>Toán - Lớp 6</h3>
                            <p>Chương 1 - Bài 6</p>
                            <div class="progress"><div class="progress-bar" style="width: 30%"></div></div>
                            <a href="" title="Tiếp tục" class="btn-pr flex-center">Tiếp tục</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-library bg-gr">
        <div class="container">
            <div class="header">
                <h2 class="title">Thư viện bài luyện tập</h2>
            </div>
            <ul class="tab nav tab-pr tab-pr--cs1">
                <li><a href="#lop1" class="active" data-toggle="tab">Lớp 1</a></li>
                <li><a href="#lop2" data-toggle="tab">Lớp 2</a></li>
                <li><a href="#lop3" data-toggle="tab">Lớp 3</a></li>
                <li><a href="#lop4" data-toggle="tab">Lớp 4</a></li>
                <li><a href="#lop5" data-toggle="tab">Lớp 5</a></li>
                <li><a href="#lop6" data-toggle="tab">Lớp 6</a></li>
                <li><a href="#lop7" data-toggle="tab">Lớp 7</a></li>
                <li><a href="#lop8" data-toggle="tab">Lớp 8</a></li>
                <li><a href="#lop9" data-toggle="tab">Lớp 9</a></li>
                <li><a href="#lop10" data-toggle="tab">Lớp 10</a></li>
                <li><a href="#lop11" data-toggle="tab">Lớp 11</a></li>
                <li><a href="#lop12" data-toggle="tab">Lớp 12</a></li>
            </ul>
            <div class="tab-content">
                <div id="lop1" class="tab-pane fade show active">
                    <ul class="tab nav tab-sub tab-sub--cs1">
                        <li><a href="#sgk" class="active" data-toggle="tab">Sách giáo khoa</a></li>
                        <li><a href="#sbt" data-toggle="tab">Sách bổ trợ</a></li>
                        <li><a href="#ltt" data-toggle="tab">Luyện tập thêm</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sgk" class="tab-pane fade show active">
                            <div class="library-list flex">
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-nguvan.svg" alt=""></span>
                                    <span class="name txt-5">Ngữ Văn</span>
                                </a>
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-toan.svg" alt=""></span>
                                    <span class="name txt-5">Toán</span>
                                </a>
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-kh.svg" alt=""></span>
                                    <span class="name">Khoa học tự nhiên</span>
                                </a>
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                                    <span class="name txt-5">Tiếng Anh</span>
                                </a>
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-th.svg" alt=""></span>
                                    <span class="name txt-5">Tin học</span>
                                </a>
                            </div>
                        </div>
                        <div id="sbt" class="tab-pane fade">
                            <div class="library-list flex">
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                                    <span class="name txt-5">Tiếng Anh</span>
                                </a>
                                <a href="" title="">
                                    <span class="icon flex-center"><img src="./assets/img/icon-th.svg" alt=""></span>
                                    <span class="name txt-5">Tin học</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>