<div class="hoc10-test">
    <div class="header">
        <div class="container flex-lc">
            <a href="" title="" class="btn-back flex-lc">
                <i class="icon icon-back"></i>
                <span>Lớp 6</span>
                <span>Môn toán</span>
            </a>
            <div class="text">
                <h1 class="title">Luyện tập 1</h1>
            </div>
            <div class="btn flex-lc">
                <button type="button" class="btn-light"></button>
                <button type="button" class="btn-fullscreen"></button>
            </div>
        </div>
    </div>
    <div class="main flex pr">
        <div class="container flex pr">
            <div class="box-question flex">
                <div class="question">
                    <div class="question__content">
                        <h4>Câu hỏi 12<span>/15</span></h4>
                        <p>Anh Tú là giám đốc công ty tên là Công ty Ngày Mai. Anh Tú 1 năm trước lương là 6 triệu đồng, công ty anh cứ 6 tháng lại tăng thêm cho anh Tú 2 triệu tiền lương. Hỏi hiện tại sau một năm, mức lương của anh Tú là bao nhiêu?</p>
                    </div>
                    <div class="question__img"><img src="./assets/img/img-question.jpg" alt=""></div>
                </div>
                <div class="answer">
                    <div class="answer__list">
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            Vẫn 6 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            8 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            10 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            Giám đốc thì làm gì có lương
                        </label>
                    </div>
                </div>
                <div class="img-wrapper"><img src="./assets/img/img-question.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container flex-lc pr">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
            </ul>
            <div class="box-check pr">
                <button type="button" class="btn-test btn-pr flex-center">Kiểm tra</button>
                <div class="check pr">
                    <div class="check__content">
                        <p>Chưa chính xác</p>
                        Thử lại, <button type="button">Xem gợi ý</button> hoặc <button type="button">Bỏ qua</button>
                    </div>
                    <button type="button" class="btn-close"></button>
                    <button type="button" class="btn-replay"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-fix-right">
        <a href="" title="" class="chat flex-center"><i class="icon icon-chat"></i></a>
        <a href="" title="" class="messenger flex-center"><i class="icon icon-messenger"></i></a>
    </div>
</div>