<div class="hoc10-reader">
    <div class="header flex">
        <button type="button" class="btn-back flex-lc"><i class="icon icon-back"></i><span>Kho sách của tôi</span></button>
        <div class="name txt-2">Mỹ thuật 6</div>
        <div class="guide pr">
            <i class="icon icon-guide"></i>
            <a href="" title="Hướng dẫn">Hướng dẫn</a>
        </div>
        <button type="button" class="btn-fullscreen"></button>
    </div>
    <div class="main flex">
        <div class="sidebar">
            <h3 class="txt-2 flex-lc"><i class="icon icon-menu"></i> MỤC LỤC</h3>
            <ul class="table-content">
                <li class="show">
                    <h4>Chương I. Mở đầu</h4>
                    <ul class="sub-table">
                        <li><a href="" title="" class="active">Mở đầu</a></li>
                        <li><a href="" title="">Luyện tập</a></li>
                        <li><a href="" title="">Danh sách</a></li>
                        <li><a href="" title="">Danh sách</a></li>
                        <li><a href="" title="">Danh sách</a></li>
                        <li><a href="" title="">Tổng kết các kiến thức cho phần mở đầu</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Chương II: Học theo phương pháp cải tiến của Hoc10</h4>
                    <ul class="sub-table">
                        <li><a href="" title="" class="active">Mở đầu</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Chương III: Định lý tmrw</h4>
                    <ul class="sub-table">
                        <li><a href="" title="" class="active">Mở đầu</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Chương IV: Luyện tập</h4>
                    <ul class="sub-table">
                        <li><a href="" title="" class="active">Mở đầu</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Chương V: Khởi động</h4>
                </li>
                <li>
                    <h4>Chương VI: Về đích</h4>
                </li>
            </ul>
        </div>
        <div class="reader">
            <img src="./assets/img/img-book1.png" alt="">
        </div>
        <div class="box-act">
            <button type="button" class="active flex-center"><i class="icon icon-act1"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act2"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act3"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act4"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act5"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act6"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act7"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act8"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act9"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act10"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act11"></i></button>
            <button type="button" class="flex-center"><i class="icon icon-act12"></i></button>
        </div>
    </div>
    <div class="footer flex">
        <div class="flex act act--1">
            <button type="button" class="btn-menu"><i class="icon icon-menu"></i></button>
        </div>
        <div class="flex act act--2">
            <button type="button" class="btn-prev flex-center"><i class="icon icon-arr"></i></button>
            <div class="page-number flex-center">1/73</div>
            <button type="button" class="btn-next flex-center"><i class="icon icon-arr"></i></button>
        </div>
        <div class="flex act act--3 pr">
            <div class="flex-lc act__tl">
                <div class="flex-lc scale">
                    <button type="button" class="btn-scale-down"><i class="icon icon-down"></i></button>
                    <div class="value txt-4">125%</div>
                    <button type="button" class="btn-scale-up"><i class="icon icon-up"></i></button>
                </div>
                <button type="button" class="btn-reset"><i class="icon icon-reset"></i></button>
            </div>
            <button type="button" class="btn-setting"><i class="icon icon-setting"></i></button>
        </div>
        <div class="flex act act--4">
            <button type="button" class="btn-edit"><i class="icon icon-edit"></i></button>
        </div>
    </div>
    <div class="box-fix-right">
        <a href="javascript:;" class="btn-edit flex-center"><i class="icon icon-pen"></i></a>
    </div>
</div>
<div class="modal fade modal-select-time" id="modal-select-time">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Đếm giờ</h5>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <p class="txt-5">Chọn thời gian mong muốn</p>
                <div class="box-select-time flex">
                    <div class="item">
                        <div class="item__header">Phút</div>
                        <div class="item__content">
                            <input type="number" value="00">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">Giây</div>
                        <div class="item__content">
                            <input type="number" value="00">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">Bắt đầu</div>
                        <div class="item__content">
                            <button type="button" class="btn-start flex-center"><i class="icon icon-play1"></i></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">Reset</div>
                        <div class="item__content">
                            <button type="button" class="btn-reset flex-center"><i class="icon icon-reset1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>