<header class="sh">
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a href="" class="logo logo-pc" ><img src="./assets/img/logo.png" alt=""></a>
            <a href="" title="" class="logo-m"><img src="./assets/img/logo-m.svg" alt=""></a>
            <div class="progress-register flex">
                <div class="step finish">
                    <span>1</span>
                </div>
                <div class="step active">
                    <span>2</span>
                </div>
                <div class="step">
                    <span>3</span>
                </div>
            </div>
            <div class="login">
                <div class="text"><span>Bạn đã có tài khoản?</span> <a href="" title="">Đăng nhập</a></div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="box-register">
        <div class="container">
            <h1 class="title">Thông tin cá nhân</h1>
            <div class="box-login">
                <h4 class="flex-center"><span>Hoặc đăng nhập bằng các cách sau đây</span></h4>
                <div class="login-list flex-center">
                    <a href="" class="flex-center facebook txt-4"><i class="icon icon-facebook"></i>Facebook</a>
                    <a href="" class="flex-center google txt-4"><i class="icon icon-gg"></i>Google</a>
                    <a href="" class="flex-center monkey"><img src="./assets/img/logo-monkey.png" alt=""></a>
                </div>
            </div>
            <form action="" method="" class="form-h10 mw-535">
                <div class="form-group">
                    <label>Họ và tên <sup>*</sup></label>
                    <input type="text" name="fullname" placeholder="Nhập họ và tên" required>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Email <span>(tuỳ chọn)</span></label>
                        <input type="email" name="email" placeholder="Nhập email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại <sup>*</sup></label>
                        <input type="number" name="phone" placeholder="Nhập số điện thoại">
                    </div>
                </div>
                <div class="form-group">
                    <label>Mật khẩu <sup>*</sup></label>
                    <input type="password" name="password" placeholder="Nhập mật khẩu">
                </div>
                <div class="form-group">
                    <label>Xác nhận mật khẩu <sup>*</sup></label>
                    <input type="password" name="password" placeholder="Nhập lại mật khẩu">
                </div>
                <div class="box-btn flex mt-40">
                    <button type="button" class="btn-back flex-center txt-4">Quay lại</button>
                    <button type="button" class="btn-next btn-pr flex-center txt-4">Tiếp theo</button>
                </div>
            </form>
        </div>
    </div>
</main>