<header class="sh">
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a href="" class="logo logo-pc" ><img src="./assets/img/logo.png" alt=""></a>
            <a href="" title="" class="logo-m"><img src="./assets/img/logo-m.svg" alt=""></a>
            <div class="progress-register flex">
                <div class="step finish">
                    <span>1</span>
                </div>
                <div class="step finish">
                    <span>2</span>
                </div>
                <div class="step active">
                    <span>3</span>
                </div>
            </div>
            <div class="login">
                <div class="text"><span>Bạn đã có tài khoản?</span> <a href="" title="">Đăng nhập</a></div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="box-register">
        <div class="container">
            <h1 class="title mb-64">Thông tin lớp học</h1>
            <form action="" method="" class="form-h10 mw-535">
                <div class="form-group">
                    <label>Lớp học</label>
                    <div class="box-select box-select--class pr">
                        <div class="select-list pr">
                            <div class="placeholder">Vui lòng chọn lớp học</div>
                            <ul class="flex class" style="display: none"></ul>
                            <button type="button" class="dropdown"></button>
                        </div>
                        <div class="select-dropdown">
                            <label class="flex-lc pr">
                                <input id="class1" data-id="class1" type="checkbox" value="Lớp 1" name="position">
                                <span class="checked"></span>
                                Lớp 1
                            </label>
                            <label class="flex-lc pr">
                                <input id="class2" data-id="class2" type="checkbox" value="Lớp 2" name="position">
                                <span class="checked"></span>
                                Lớp 2
                            </label>
                            <label class="flex-lc pr">
                                <input id="class3" data-id="class3" type="checkbox" value="Lớp 3" name="position">
                                <span class="checked"></span>
                                Lớp 3
                            </label>
                            <label class="flex-lc pr">
                                <input id="class4" data-id="class4" type="checkbox" value="Lớp 4" name="position">
                                <span class="checked"></span>
                                Lớp 4
                            </label>
                            <label class="flex-lc pr">
                                <input id="class5" data-id="class5" type="checkbox" value="Lớp 5" name="position">
                                <span class="checked"></span>
                                Lớp 5
                            </label>
                            <label class="flex-lc pr">
                                <input id="class6" data-id="class6" type="checkbox" value="Lớp 6" name="position">
                                <span class="checked"></span>
                                Lớp 6
                            </label>
                            <label class="flex-lc pr">
                                <input id="class7" data-id="class7" type="checkbox" value="Lớp 7" name="position">
                                <span class="checked"></span>
                                Lớp 7
                            </label>
                            <label class="flex-lc pr">
                                <input id="class8" data-id="class8" type="checkbox" value="Lớp 8" name="position">
                                <span class="checked"></span>
                                Lớp 8
                            </label>
                            <label class="flex-lc pr">
                                <input id="class9" data-id="class9" type="checkbox" value="Lớp 9" name="position">
                                <span class="checked"></span>
                                Lớp 9
                            </label>
                            <label class="flex-lc pr">
                                <input id="class10" data-id="class10" type="checkbox" value="Lớp 10" name="position">
                                <span class="checked"></span>
                                Lớp 10
                            </label>
                            <label class="flex-lc pr">
                                <input id="class11" data-id="class11" type="checkbox" value="Lớp 11" name="position">
                                <span class="checked"></span>
                                Lớp 11
                            </label>
                            <label class="flex-lc pr">
                                <input id="class12" data-id="class12" type="checkbox" value="Lớp 12" name="position">
                                <span class="checked"></span>
                                Lớp 12
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Môn học</label>
                    <div class="box-select box-select--subject pr">
                        <div class="select-list pr">
                            <div class="placeholder">Vui lòng chọn môn học</div>
                            <ul class="flex subject" style="display: none"></ul>
                            <button type="button" class="dropdown"></button>
                        </div>
                        <div class="select-dropdown">
                            <label class="flex-lc pr">
                                <input id="m1" data-id="m1" type="checkbox" value="Tiếng Việt" name="position">
                                <span class="checked"></span>
                                Tiếng Việt
                            </label>
                            <label class="flex-lc pr">
                                <input id="m2" data-id="m2" type="checkbox" value="Toán" name="position">
                                <span class="checked"></span>
                                Toán
                            </label>
                            <label class="flex-lc pr">
                                <input id="m3" data-id="m3" type="checkbox" value="Đạo đức" name="position">
                                <span class="checked"></span>
                                Đạo đức
                            </label>
                            <label class="flex-lc pr">
                                <input id="m4" data-id="m4" type="checkbox" value="Tự nhiên và Xã hội" name="position">
                                <span class="checked"></span>
                                Tự nhiên và Xã hội
                            </label>
                            <label class="flex-lc pr">
                                <input id="m5" data-id="m5" type="checkbox" value="Sức khoẻ" name="position">
                                <span class="checked"></span>
                                Sức khoẻ
                            </label>
                        </div>
                    </div>
                    <div class="notifi">Vui lòng chọn lớp học trước khi chọn môn học</div>
                </div>
                <div class="box-btn flex mt-100">
                    <button type="button" class="btn-back flex-center txt-4">Quay lại</button>
                    <button type="button" class="btn-next btn-pr flex-center txt-4">Tiếp theo</button>
                </div>
                <div class="text">
                    Bằng việc đăng ký, bạn đã đồng ý với các <a href="">Điều khoản dịch vụ</a> và các <a href="">Chính sách riêng tư</a> của chúng tôi
                </div>
            </form>
        </div>
    </div>
</main>