<header class="sh">
    <nav class="navbar navbar-expand-lg">
        <div class="container pr">
            <a href="" class="logo-pc" ><img src="./assets/img/logo.png" alt=""></a>
            <a href="" title="" class="logo-m"><img src="./assets/img/logo-m.svg" alt=""></a>
            <div class="progress-register flex">
                <div class="step active">
                    <span>1</span>
                </div>
                <div class="step">
                    <span>2</span>
                </div>
                <div class="step">
                    <span>3</span>
                </div>
            </div>
            <div class="login">
                <div class="text"><span>Bạn đã có tài khoản?</span> <a href="" title="">Đăng nhập</a></div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="box-register">
        <div class="container">
            <h1 class="title">Bạn là ai?</h1>
            <div class="box-choose flex-center">
                <div class="object bg-sh">
                    <span class="object__avt"><img src="./assets/img/avt-gv.svg" alt=""></span>
                    <span class="object__name">Giáo viên</span>
                    <label>
                        <input type="radio" name="object">
                        <span class="checked"></span>
                    </label>
                </div>
                <div class="object bg-sh">
                    <span class="object__avt"><img src="./assets/img/avt-student.svg" alt=""></span>
                    <span class="object__name">Học sinh</span>
                    <label>
                        <input type="radio" name="object">
                        <span class="checked"></span>
                    </label>
                </div>
                <div class="object bg-sh">
                    <span class="object__avt"><img src="./assets/img/avt-ph1.svg" alt=""></span>
                    <span class="object__name">Phụ huynh</span>
                    <label>
                        <input type="radio" name="object">
                        <span class="checked"></span>
                    </label>
                </div>
            </div>
            <button type="button" class="btn-next flex-center btn-pr">Tiếp theo</button>
        </div>
    </div>
</main>