<main>
    <div class="hoc10-page-search">
        <div class="container">
            <div class="text">Tìm thấy 9 kết quả cho từ khoá “Hoc10” trong <span>Tủ sách</span></div>
            <div class="search-result">
                <div class="header flex-lc">
                    <h3>Tủ sách (10)</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                            <button type="button" class="block flex-center"></button>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                            <button type="button" class="block flex-center"></button>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>