<main>
    <div class="hoc10-page-search">
        <div class="container">
            <div class="text">Tìm thấy 9 kết quả cho từ khoá “Hoc10”</div>
            <div class="search-result">
                <div class="header flex-lc">
                    <h3>Tủ sách (3)</h3>
                    <a href="" title="" class="btn-viewmore btn-pr flex-center">Xem tất cả</a>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                            <button type="button" class="block flex-center"></button>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                            <button type="button" class="block flex-center"></button>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-6">
                        <article class="post post-ty4 bg-sh pr">
                            <a href="" class="post__thumb"><img src="./assets/img/img-book11.jpg" class="fit" alt=""></a>
                            <div class="post__category">Sách giáo khoa</div>
                            <div class="post__content">
                                <span>LỚP 1</span>
                                <h4>Hoạt Động Trải Nghiệm 1</h4>
                                <a href="" title="" class="btn-read btn-sub flex-center">Đọc thử</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="header flex-lc">
                    <h3>Chia sẻ (3)</h3>
                    <a href="" title="" class="btn-viewmore btn-pr flex-center">Xem tất cả</a>
                </div>
                <div class="row pr">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new1.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Công nghệ AI khiến trải nghiệm học tập trở nên thú hơn bao giờ hết</a></h3>
                            <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new2.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Trăn trở việc hỗ trợ con cái học online của phụ huỳnh mùa dịch</a></h3>
                            <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new3.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Học sinh hào hứng với trải nghiệm học tập online được cải tiến</a></h3>
                            <p>Xây dựng bởi đội ngũ tác giả đầu ngành - quy tụ hầu hết chuyên gia phát triển chương trình ...</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="header flex-lc">
                    <h3>Tin tức (3)</h3>
                    <a href="" title="" class="btn-viewmore btn-pr flex-center">Xem tất cả</a>
                </div>
                <div class="row pr">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new1.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Công nghệ AI khiến trải nghiệm học tập trở nên thú hơn bao giờ hết</a></h3>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new2.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Trăn trở việc hỗ trợ con cái học online của phụ huỳnh mùa dịch</a></h3>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty1">
                            <a href="" class="post__thumb"><img src="./assets/img/img-new3.jpg" class="fit" alt=""></a>
                            <div class="flex-lc">
                                <div class="category">HỌC TẬP</div>
                                <div class="space"></div>
                                <time>12 tháng 10, 2021</time>
                            </div>
                            <h3><a href="" title="" class="txt-2">Học sinh hào hứng với trải nghiệm học tập online được cải tiến</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>