<main>
    <div class="hoc10-page-search">
        <div class="container">
            <div class="box-404">
                <div class="img-wrapper"><img src="./assets/img/404.png" alt=""></div>
                <div class="content">
                    <p>Không tìm thấy kết quả tìm kiếm cho “<strong>choi dien tu</strong>"</p>
                    <span>Hãy thử tìm kiếm với từ khoá khác</span>
                </div>
            </div>
        </div>
    </div>
</main>