<main>
    <div class="hoc10-setting bg-gray">
        <div class="setting">
            <h1 class="title">Cài đặt</h1>
            <div class="setting__email">
                <h4>Email thông báo</h4>
                <p class="txt-5">Bạn sẽ nhận được thông báo khi có bản cập nhật về tính năng trên Hoc10.vn</p>
                <div class="flex-lc">
                    <div class="text txt-5">Nhận email thông báo từ https://hoc10.vn</div>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="setting__password">
                <h4>Đổi mật khẩu</h4>
                <button type="button" class="btn-change btn-pr flex-center">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</main>