<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Câu hỏi thường gặp</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container">
            <div class="header decor-h1 pr">
                <h1 class="title mb-10">Hỗ trợ</h1>
                <p>Chúng tôi có thể giúp gì cho bạn</p>
            </div>
            <form action="" method="" class="search-form pr">
                <div class="form-group flex pr">
                    <input id="search" type="text" name="" placeholder="Tìm kiếm bài viết trợ giúp" required>
                    <button type="submit" class="btn_submit btn-pr flex-center">Tìm Kiếm</button>
                    <button type="reset" class="btn_reset"></button>
                </div>
                <div class="search-suggest bg-sh">
                    <p>Cùng con vui học <span>tiếng Việt</span></p>
                    <p>Cùng con học <span>tiếng Việt</span> Tiểu Học</span></p>
                    <p>Mẹ cùng con học <span>tiếng Việt</span></p>
                    <p>Cùng con học <span>tiếng Việt</span> tại Hoc10</p>
                </div>
            </form>
        </div>
    </div>
    <div class="hoc10-question">
        <div class="container">
            <div class="header">
                <h2 class="title">Câu hỏi thường gặp</h2>
            </div>
            <div class="question-list flex-between pr">
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
                <div class="item bg-sh">
                    <h4>Làm thế nào để kích hoạt sách?</h4>
                    <button type="button" class="btn-video video flex-lc" data-toggle="modal" data-target="#modal-video">Video hướng dẫn</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-guide bg-gray">
        <div class="container">
            <div class="header">
                <h2 class="title">Hướng dẫn chi tiết</h2>
            </div>
            <div class="support flex-between">
                <div class="support__list">
                    <h3>Danh mục hỗ trợ</h3>
                    <div class="accordion">
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Hướng dẫn cho học sinh</h4>
                                <span>5</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Hướng dẫn cho giáo viên</h4>
                                <span>10</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Quản lý thông tin tài khoản</h4>
                                <span>4</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                                <a href="" title="" class="active">Hướng dẫn kích hoạt sách</a>
                                <a href="" title="">Hướng dẫn sử dụng thanh công cụ</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Các vấn đề kỹ thuật</h4>
                                <span>15</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="support__content">
                    <ul class="tab nav">
                        <li><a href="#s1" title="" data-toggle="tab" class="active">Trước kích hoạt sách</a></li>
                        <li><a href="#s2" title="" data-toggle="tab">Sau kích hoạt sách</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="s1" class="tab-pane fade show active">
                            <h4>Hướng dẫn sử dụng chung</h4>
                            <ul class="guide-list">
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn Đăng ký</a>
                                </li>
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn Đăng nhập</a>
                                </li>
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn kích hoạt sách từ menu</a>
                                </li>
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn sử dụng các nút chức năng trên màn hình bài học</a>
                                </li>
                            </ul>
                        </div>
                        <div id="s2" class="tab-pane fade">
                            <h4>Hướng dẫn sử dụng chung</h4>
                            <ul class="guide-list">
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn kích hoạt sách từ menu</a>
                                </li>
                                <li class="flex-lc">
                                    <span>Tài khoản</span>
                                    <a href="" title="">Hướng dẫn sử dụng các nút chức năng trên màn hình bài học</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-contactus pr">
        <div class="container">
            <a href="" title="Liên hệ với chúng tôi" class="btn-contact flex-center">Liên hệ với chúng tôi</a>
            <ul class="contact-list flex">
                <li>
                    <i class="icon icon-phone"></i>
                    <a href="tel:02473098866">024.73098866</a>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-facebook"></i>
                    <a href="fb.com/hoc10.vn" title="">fb.com/hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-chat"></i>
                    <a href="" title="">hỗ trợ trực tuyến</a>
                </li>
            </ul>
        </div>
    </div>
</main>