<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Câu hỏi thường gặp</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container">
            <div class="header decor-h1 pr">
                <h1 class="title mb-15">Hỗ trợ</h1>
                <p>Chúng tôi có thể giúp gì cho bạn</p>
            </div>
            <form action="" method="" class="search-form pr">
                <div class="form-group flex pr">
                    <input id="search" type="text" name="" placeholder="Tìm kiếm bài viết trợ giúp" required>
                    <button type="submit" class="btn_submit btn-pr flex-center">Tìm Kiếm</button>
                    <button type="reset" class="btn_reset"></button>
                </div>
                <div class="search-suggest bg-sh">
                    <p>Cùng con vui học <span>tiếng Việt</span></p>
                    <p>Cùng con học <span>tiếng Việt</span> Tiểu Học</span></p>
                    <p>Mẹ cùng con học <span>tiếng Việt</span></p>
                    <p>Cùng con học <span>tiếng Việt</span> tại Hoc10</p>
                </div>
            </form>
        </div>
    </div>
    <div class="hoc10-guide bg-gray">
        <div class="container">
            <div class="header">
                <h2 class="title text-left">Hướng dẫn</h2>
            </div>
            <div class="support flex-between">
                <div class="support__list">
                    <h3>Danh mục hỗ trợ</h3>
                    <div class="accordion">
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Hướng dẫn cho học sinh</h4>
                                <span>5</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Hướng dẫn cho giáo viên</h4>
                                <span>10</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Quản lý thông tin tài khoản</h4>
                                <span>4</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng ký</a>
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                                <a href="" title="" class="active">Hướng dẫn kích hoạt sách</a>
                                <a href="" title="">Hướng dẫn sử dụng thanh công cụ</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="header flex-lc pr">
                                <h4 class="txt-4">Các vấn đề kỹ thuật</h4>
                                <span>15</span>
                            </div>
                            <div class="content">
                                <a href="" title="">Hướng dẫn Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="support__page">
                    <div class="pagedetail">
                        <h3>Sau Kích Hoạt Sách</h3>
                        <article>
                            <h4>Hướng dẫn kích hoạt sách từ menu</h4>
                            <p>Để kích hoạt sách trong Bộ sách giáo khoa Cánh Diều, vui lòng thực hiện các hướng dẫn sau:</p>
                            <p><strong>Bước 1: Cào nhẹ lớp phủ bạc trên tem chống giả tại bìa 4 của sách giáo khoa để lấy mã kích hoạt</strong></p>
                            <p><img src="./assets/img/img-detail1.jpg" alt=""></p>
                            <p><strong>Bước 2: Nhập mã seri phía dưới mã kích hoạt để kiểm tra mã kích hoạt còn hoạt động không</strong></p>
                            <p><img src="./assets/img/img-detail4.jpg" alt=""></p>
                            <p>
                                <strong>Lưu ý:</strong> Mỗi mã kích hoạt có một mã seri riêng để kiểm tra. Nếu đã nhập đúng mã seri trên sách nhưng vẫn hiện thông báo “Mã seri không hợp lệ”, có thể bạn đã mua phải sách lậu. Vui lòng liên hệ ngay qua hotline <strong>024.73098866</strong> hoặc email <strong>contact@hoc10.vn</strong> để nhận được trợ giúp.
                            </p>
                            <p><strong>Bước 3: Tại trang web http://www.hoc10.vn/, ấn vào nút “Đăng nhập” trên thanh menu để Đăng nhập hoặc Đăng ký</strong></p>
                            <p><img src="./assets/img/img-detail2.jpg" alt=""></p>
                            <p><strong>Bước 4: Sau khi Đăng nhập xong, giao diện trang web sẽ chuyển về trang “Bộ sách Cánh Diều”. Tại đây, ấn nút “Kích hoạt sách”. Cửa sổ nhập mã hiện lên, nhập mã kích hoạt tại ô kích hoạt.</strong></p>
                            <p><img src="./assets/img/img-detail3.jpg" alt=""></p>
                            <p>Sau khi kích hoạt thành công bạn có thể truy cập “Tủ sách” và xem ngay sách đã kích hoạt. Để nhận được thêm hỗ trợ về kích hoạt sách, vui lòng liên hệ ngay qua hotline <strong>024.73098866</strong> hoặc email <strong>contact@hoc10.vn</strong></p>
                        </article>
                        <div class="feedback flex-lc">
                            <p>Bạn thấy bài viết này có hữu ích không?</p>
                            <div class="like flex-lc">
                                <i class="icon icon-like"></i>
                                <input type="number" value="12" readonly="">
                            </div>
                            <div class="dislike flex-lc">
                                <i class="icon icon-dislike"></i>
                                <input type="number" value="25" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="related">
                        <h3>Hướng dẫn liên quan</h3>
                        <ul class="related__list">
                            <li><a href="" title="">Hướng dẫn kích hoạt ngoài sách</a></li>
                            <li><a href="" title="">Hướng dẫn kích hoạt trong sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-contactus pr">
        <div class="container">
            <a href="" title="Liên hệ với chúng tôi" class="btn-contact flex-center">Liên hệ với chúng tôi</a>
            <ul class="contact-list flex">
                <li>
                    <i class="icon icon-phone"></i>
                    <a href="tel:02473098866">024.73098866</a>
                </li>
                <li>
                    <i class="icon icon-email"></i>
                    <a href="mailto:contact@hoc10.vn">contact@hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-facebook"></i>
                    <a href="fb.com/hoc10.vn" title="">fb.com/hoc10.vn</a>
                </li>
                <li>
                    <i class="icon icon-chat"></i>
                    <a href="" title="">hỗ trợ trực tuyến</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<div class="modal fade modal-note" id="modal-note">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h3 class="modal-title">Đề số 1</h3>
                <p>Kiểm tra 15 phút - Học kì I</p>
            </div>
            <div class="modal-body">
                <h4>Các lưu ý khi làm bài</h4>
                <ul class="note-list">
                    <li>
                        <div class="flex">
                            <span class="number">1</span>
                            <p>Có 20 câu hỏi thuộc 4 loại:</p>
                        </div>
                        <ul class="note-sub flex">
                            <li>Chọn 1 đáp án</li>
                            <li>Nối</li>
                            <li>Chọn nhiều đáp án</li>
                            <li>Kéo thả</li>
                        </ul>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="number">2</span>
                            <p>Thời gian làm bài sẽ được đếm lùi</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="number">3</span>
                            <p>Bài thi sẽ kết thúc khi hết thời gian hoặc khi bạn chọn <strong>Nộp bài</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="number">4</span>
                            <p>Có thể bỏ qua câu hỏi khó và quay lại làm tiếp nếu vẫn còn thời gian</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <h4>Bạn đã sẵn sàng chưa?</h4>
                <div class="box-btn flex">
                    <button type="button" class="btn-pr flex-center">Làm bài</button>
                    <button type="button" class="btn-sub flex-center">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>