<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Học sinh</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thi thử</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container decor-h1 pr">
            <h1 class="title">Thi thử</h1>
        </div>
    </div>
    <div class="hoc10-overview">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-5">
                    <div class="text">
                        <h2 class="title">Tổng quan</h2>
                        <h4>Tính năng cho phép học sinh:</h4>
                        <p>Ôn tập kiến thức theo sách, theo chủ đề</p>
                        <p>Xem lại kiến thức tóm tắt của bài học</p>
                        <p>Lưu trữ kết quả luyện tập để cá nhân hoá lộ trình học</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="box-video decor-vd pr">
                        <div class="video video-ty1 pr" data-link="" data-toggle="modal" data-target="#modal-video">
                            <div class="video__thumb"><img src="./assets/img/thumb-video6.jpg" alt=""></div>
                            <div class="video__play"><img src="./assets/img/icon-play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-library bg-gr">
        <div class="container">
            <div class="header">
                <h2 class="title">Môn học</h2>
            </div>
            <ul class="tab nav tab-pr tab-pr--cs1">
                <li><a href="#lop1" class="active" data-toggle="tab">Lớp 1</a></li>
                <li><a href="#lop2" data-toggle="tab">Lớp 2</a></li>
                <li><a href="#lop3" data-toggle="tab">Lớp 3</a></li>
                <li><a href="#lop4" data-toggle="tab">Lớp 4</a></li>
                <li><a href="#lop5" data-toggle="tab">Lớp 5</a></li>
                <li><a href="#lop6" data-toggle="tab">Lớp 6</a></li>
                <li><a href="#lop7" data-toggle="tab">Lớp 7</a></li>
                <li><a href="#lop8" data-toggle="tab">Lớp 8</a></li>
                <li><a href="#lop9" data-toggle="tab">Lớp 9</a></li>
                <li><a href="#lop10" data-toggle="tab">Lớp 10</a></li>
                <li><a href="#lop11" data-toggle="tab">Lớp 11</a></li>
                <li><a href="#lop12" data-toggle="tab">Lớp 12</a></li>
            </ul>
            <div class="tab-content">
                <div id="lop1" class="tab-pane fade show active">
                    <div class="library-list slider flex">
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-nguvan.svg" alt=""></span>
                            <span class="name txt-5">Ngữ Văn</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-toan.svg" alt=""></span>
                            <span class="name txt-5">Toán</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-kh.svg" alt=""></span>
                            <span class="name">Khoa học tự nhiên</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                            <span class="name txt-5">Tiếng Anh</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-th.svg" alt=""></span>
                            <span class="name txt-5">Tin học</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                            <span class="name txt-5">Tiếng Anh</span>
                        </a>
                    </div>
                </div>
                <div id="lop2" class="tab-pane fade">
                    <div class="library-list slider flex">
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-toan.svg" alt=""></span>
                            <span class="name txt-5">Toán</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-nguvan.svg" alt=""></span>
                            <span class="name txt-5">Ngữ Văn</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-kh.svg" alt=""></span>
                            <span class="name">Khoa học tự nhiên</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                            <span class="name txt-5">Tiếng Anh</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-th.svg" alt=""></span>
                            <span class="name txt-5">Tin học</span>
                        </a>
                        <a href="" title="">
                            <span class="icon flex-center"><img src="./assets/img/icon-ta.svg" alt=""></span>
                            <span class="name txt-5">Tiếng Anh</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-library-test">
        <div class="container">
            <div class="header">
                <h2 class="title">Thư viện đề kiểm tra</h2>
            </div>
            <div class="list-test row">
                <div class="col-lg-6 col-md-6">
                    <div class="item bg-sh pr">
                        <h3>Đề kiểm tra 15 phút</h3>
                        <a href="" class="flex-lc"><i class="icon icon-doc"></i> 5 Đề thi thử</a>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="item bg-sh pr">
                        <h3>Đề kiểm tra giữa kì</h3>
                        <a href="" class="flex-lc"><i class="icon icon-doc"></i> 5 Đề thi thử</a>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="item bg-sh pr">
                        <h3>Đề kiểm tra 1 tiết</h3>
                        <a href="" class="flex-lc"><i class="icon icon-doc"></i> 5 Đề thi thử</a>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="item bg-sh pr">
                        <h3>Đề kiểm tra cuối kì</h3>
                        <a href="" class="flex-lc"><i class="icon icon-doc"></i> 5 Đề thi thử</a>
                        <a href="" title="" class="btn-viewmore">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hoc10-background-decor">
        <div class="container">
            <div class="content text-center">
                <h2 class="title">Đề kiểm tra gần đây</h2>
                <p>Đăng nhập ngay để sử dụng</p>
                <a href="" title="" class="btn-login flex-center">Đăng nhập</a>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-decor3.svg" alt=""></div>
        </div>
    </div>
</main>