<div class="hoc10-test">
    <div class="header header--cs1">
        <div class="container flex-lc">
            <a href="" title="" class="btn-back flex-lc">
                <i class="icon icon-back"></i>
                <span>Lớp 6</span>
                <span>Môn toán</span>
            </a>
            <div class="text text--cs1">
                <h1 class="title">Đề số 1</h1>
                <p>Kiểm tra 15 phút - Học kì I</p>
            </div>
            <div class="time flex-lc txt-5"><i class="icon icon-time"></i> 25:45 phút</div>
            <button type="button" class="btn-submit btn-pr flex-center" data-toggle="modal" data-target="#modal-submit">Nộp bài</button>
        </div>
    </div>
    <div class="main flex pr">
        <div class="main-test container flex">
            <div class="list-question">
                <h3 class="txt-4">Danh sách câu hỏi</h3>
                <div class="box-filter flex pr">
                    <h4 class="flex-lc"><i class="icon icon-filter"></i>Lọc theo: </h4>
                    <button id="filter" type="button" class="flex-lc"><span>Mặc định</span></button>
                    <ul class="dropdown-filter bg-sh">
                        <li data-filter="Mặc định">Mặc định</li>
                        <li data-filter="Trả lời đúng">Chưa trả lời <i class="icon icon-n"></i></li>
                        <li data-filter="Trả lời sai">Đã trả lời <i class="icon icon-y"></i></li>
                    </ul>
                </div>
                <ul class="list">
                    <li>
                        <p>Câu 1</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 2</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 3</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 4</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 5</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 6</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 7</p>
                        <i class="icon icon-y"></i>
                    </li>
                    <li>
                        <p>Câu 8</p>
                        <i class="icon icon-n"></i>
                    </li>
                    <li>
                        <p>Câu 9</p>
                        <i class="icon icon-n"></i>
                    </li>
                </ul>
            </div>
            <div class="box-question flex">
                <div class="question">
                    <div class="question__content">
                        <h4>Câu hỏi 12<span>/15</span></h4>
                        <p>Anh Tú là giám đốc công ty tên là Công ty Ngày Mai. Anh Tú 1 năm trước lương là 6 triệu đồng, công ty anh cứ 6 tháng lại tăng thêm cho anh Tú 2 triệu tiền lương. Hỏi hiện tại sau một năm, mức lương của anh Tú là bao nhiêu?</p>
                    </div>
                    <div class="question__img"><img src="./assets/img/img-question.jpg" alt=""></div>
                </div>
                <div class="answer">
                    <div class="answer__list">
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            Vẫn 6 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            8 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            10 triệu
                        </label>
                        <label class="flex-lc bg-sh pr">
                            <input type="radio" name="answer">
                            <span class="checked"></span>
                            Giám đốc thì làm gì có lương
                        </label>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-question.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer--cs1">
        <div class="container flex-lc pr">
            <div class="box-btn flex">
                <button type="button" class="btn-sub flex-center">Câu trước</button>
                <button type="button" class="btn-pr flex-center">Câu tiếp</button>
            </div>
        </div>
    </div>
    <div class="box-fix-right">
        <a href="" title="" class="chat flex-center"><i class="icon icon-chat"></i></a>
        <a href="" title="" class="messenger flex-center"><i class="icon icon-messenger"></i></a>
    </div>
</div>
<div class="modal fade modal-submit" id="modal-submit">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"></a>
            <h4 class="modal-title">Bạn muốn nộp bài?</h4>
            <div class="content">
                <div class="item flex">
                    <h5>Đã trả lời:</h5>
                    <p><span>2</span>/10 câu</p>
                </div>
                <div class="item flex">
                    <h5>Chưa trả lời:</h5>
                    <p><span>8</span>/10 câu</p>
                </div>
            </div>
            <div class="box-btn flex">
                <a href="" title="" class="btn-pr flex-center">Làm tiếp</a>
                <a href="" title="" class="btn-sub flex-center">Nộp bài</a>
            </div>
        </div>
    </div>
</div>