<div class="hoc10-test">
    <div class="header header--finish">
        <div class="container flex-lc">
            <div class="text text-left">
                <h1 class="title">Bạn đã hoàn thành!!!</h1>
                <p>Kiểm tra 15 phút - Học kì I</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-result flex container">
            <div class="sidebar">
                <div class="box-result">
                    <h3 class="txt-2">Kết quả</h3>
                    <div class="result-bar flex">
                        <span class="true" style="width: 60%;">15</span>
                        <span class="false" style="width: 40%">8</span>
                    </div>
                    <div class="data">
                        <div class="item flex">
                            <p>Thời gian kiểm tra</p>
                            <span>15 phút</span>
                        </div>
                        <div class="item flex">
                            <p>Tổng số câu hỏi</p>
                            <span>20 câu</span>
                        </div>
                        <div class="item flex">
                            <p>Số câu đúng</p>
                            <span>15 câu</span>
                        </div>
                        <div class="item flex">
                            <p>Độ chính xác</p>
                            <span>75%</span>
                        </div>
                        <div class="item flex">
                            <p>Thời gian làm bài</p>
                            <span>10 phút</span>
                        </div>
                        <div class="item flex">
                            <p>Tốc độ trung bình</p>
                            <span>10s/câu</span>
                        </div>
                    </div>
                </div>
                <div class="box-qs-list">
                    <h3 class="txt-4">Danh sách câu hỏi</h3>
                    <ul class="list flex">
                        <li class="true"><span>1</span></li>
                        <li class="true"><span>2</span></li>
                        <li class="true"><span>3</span></li>
                        <li class="false"><span>4</span></li>
                        <li class="true"><span>5</span></li>
                        <li class="true"><span>6</span></li>
                        <li class="true"><span>7</span></li>
                        <li class="false"><span>8</span></li>
                        <li class="true"><span>9</span></li>
                        <li class="true"><span>10</span></li>
                        <li class="true"><span>11</span></li>
                        <li class="true"><span>12</span></li>
                        <li class="false"><span>13</span></li>
                        <li class="true"><span>14</span></li>
                        <li class="true"><span>15</span></li>
                    </ul>
                    <button type="button" class="btn-save btn-pr flex-center"><i class="icon icon-save"></i>Lưu kết quả</button>
                </div>
            </div>
            <div class="answer-list">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h3 class="flex-lc txt-2">Câu 1 <span>Chọn 1 đáp án</span></h3>
                        <div class="time">Thời gian trả lời: <span>10 giây</span></div>
                    </div>
                    <div class="item__content">
                        <div class="content txt-5">Anh Tú là giám đốc công ty tên là Công ty Ngày Mai. Anh Tú 1 năm trước lương là 6 triệu đồng, công ty anh cứ 6 tháng lại tăng thêm cho anh Tú 2 triệu tiền lương. Hỏi hiện tại sau một năm, mức lương của anh Tú là bao nhiêu?</div>
                        <div class="box-answer">
                            <h4>Câu trả lời của bạn là:</h4>
                            <ul class="flex">
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        A. Vẫn 6 triệu
                                    </label>
                                </li>
                                <li>
                                    <label class="false">
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        B. 8 triệu
                                    </label>
                                    <div class="txt">Câu trả lời của bạn</div>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        C. 10 triệu
                                    </label>
                                </li>
                                <li>
                                    <label class="true">
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        D. Giám đốc thì làm gì có lương
                                    </label>
                                    <div class="txt true">Câu trả lời đúng</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h3 class="flex-lc txt-2">Câu 1 <span>Chọn 1 đáp án</span></h3>
                        <div class="time">Thời gian trả lời: <span>10 giây</span></div>
                    </div>
                    <div class="item__content">
                        <div class="content txt-5">Anh Tú là giám đốc công ty tên là Công ty Ngày Mai. Anh Tú 1 năm trước lương là 6 triệu đồng, công ty anh cứ 6 tháng lại tăng thêm cho anh Tú 2 triệu tiền lương. Hỏi hiện tại sau một năm, mức lương của anh Tú là bao nhiêu?</div>
                        <div class="box-answer">
                            <h4>Câu trả lời của bạn là:</h4>
                            <ul class="flex">
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        A. Vẫn 6 triệu
                                    </label>
                                </li>
                                <li>
                                    <label class="true">
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        B. 8 triệu
                                    </label>
                                    <div class="txt true">Trả lời chính xác</div>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        C. 10 triệu
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        D. Giám đốc thì làm gì có lương
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h3 class="flex-lc txt-2">Câu 1 <span>Chọn 1 đáp án</span></h3>
                        <div class="time">Thời gian trả lời: <span>10 giây</span></div>
                    </div>
                    <div class="item__content">
                        <div class="content txt-5">Anh Tú là giám đốc công ty tên là Công ty Ngày Mai. Anh Tú 1 năm trước lương là 6 triệu đồng, công ty anh cứ 6 tháng lại tăng thêm cho anh Tú 2 triệu tiền lương. Hỏi hiện tại sau một năm, mức lương của anh Tú là bao nhiêu?</div>
                        <div class="box-answer">
                            <h4>Câu trả lời của bạn là:</h4>
                            <ul class="flex">
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        A. Vẫn 6 triệu
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        B. 8 triệu
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        C. 10 triệu
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="cau1">
                                        <span class="checked"></span>
                                        D. Giám đốc thì làm gì có lương
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>