<main>
    <div class="hoc10-breadcrumb bg-gr">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Học sinh</a></li>
                <li class="breadcrumb-item"><a href="#">Luyện tập</a></li>
                <li class="breadcrumb-item active" aria-current="page">Toán Lớp 6 - Sách gíao khoa</li>
            </ul>
        </div>
    </div>
    <div class="hoc10-title bg-gr">
        <div class="container decor-h1 pr">
            <div class="subject subject--cs1 flex-lc">
                <div class="subject__info">
                    <h5 class="txt-2">Luyện tập</h5>
                    <h1 class="title">Toán lớp 6 - <span>SGK</span></h1>
                    <p>Ôn tập kiến thức cùng kho bài tập phong phú</p>
                    <a href="" title="Thay đổi" class="btn-sub flex-center">Thay đổi</a>
                </div>
                <div class="subject__icon flex-center"><img src="./assets/img/icon-toan.svg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="hoc10-homework bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="subject-type">
                        <h4 class="txt-4">Loại đề</h4>
                        <ul class="tab nav">
                            <li><a href="#ky1" title="" data-toggle="tab" class="active">Kì I</a></li>
                            <li><a href="#ky2" title="" data-toggle="tab">Kì II</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="ky1" class="tab-pane fade show active">
                                <div class="subjects">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra 15 phút</p>
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra 1 tiết</p>
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra giữa kì</p>
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra 1 tiết</p>
                                    </label>
                                </div>
                            </div>
                            <div id="ky2" class="tab-pane fade">
                                <div class="subjects">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra 15 phút</p>
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checked"></span>
                                        <p>Đề kiểm tra 1 tiết</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="box-test bg-sh">
                        <div class="header">
                            <h3 class="txt-2">Đề kiểm tra 15 phút -  Học Kì I</h3>
                        </div>
                        <ul class="list-exam">
                            <li>
                                <h4 class="txt-4">Đề số 1</h4>
                                <p><span>20 câu</span><span>Kiến thức chương I</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                            <li>
                                <h4 class="txt-4">Đề số 2</h4>
                                <p><span>34 câu</span><span>Kiến thức chương II</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                            <li>
                                <h4 class="txt-4">Đề số 3</h4>
                                <p><span>20 câu</span><span>Kiến thức chương III</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-test bg-sh">
                        <div class="header">
                            <h3 class="txt-2">Đề kiểm tra cuối kì -  Học Kì I</h3>
                        </div>
                        <ul class="list-exam">
                            <li>
                                <h4 class="txt-4">Đề số 1</h4>
                                <p><span>20 câu</span><span>Kiến thức chương I</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                            <li>
                                <h4 class="txt-4">Đề số 2</h4>
                                <p><span>34 câu</span><span>Kiến thức chương II</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                            <li>
                                <h4 class="txt-4">Đề số 3</h4>
                                <p><span>20 câu</span><span>Kiến thức chương III</span></p>
                                <a href="" title="Làm ngay" class="btn-pr flex-center">Làm ngay</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>